@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IDialogBody

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "dialog-body";
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-dialog-body");
            AppendClass(ref cls, "grid gap-4");
        });
    }
}