@namespace Soenneker.Quark
@inherits Soenneker.Quark.DecoratedTypographicElement
@implements IFormText

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-form-text");
            AppendClass(ref cls, "form-text");
        });
    }
}

