@namespace Soenneker.Quark
@inherits Soenneker.Quark.DecoratedTypographicElement
@implements ILabel

<label @attributes="BuildAttributes()">@ChildContent</label>

@code {
    /// <summary>
    /// Gets or sets the for attribute, which associates the label with a form control.
    /// </summary>
    [Parameter]
    public string? For { get; set; }

    /// <summary>
    /// Gets or sets whether the label should use form styling.
    /// </summary>
    [Parameter]
    public bool Form { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        if (For.HasContent())
            attributes["for"] = For;

        if (Form)
        {
            BuildClassAttribute(attributes, (ref PooledStringBuilder cls) => { AppendClass(ref cls, "form-label"); });
        }

        return attributes;
    }

}