@namespace Soenneker.Quark
@inherits Soenneker.Quark.DecoratedTypographicElement
@implements ILabel

<label @attributes="BuildAttributes()">@ChildContent</label>

@code {
	public override string? ThemeKey { get; set; } = "Label";

    /// <summary>
    /// Name of the input element to which the label is connected.
    /// </summary>
    [Parameter] public string? For { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        if (For.HasContent())
            attributes["for"] = For;

        return attributes;
    }
}
