@namespace Soenneker.Quark
@inherits Soenneker.Quark.DecoratedTypographicElement
@implements IPill

<span @attributes="BuildAttributes()">@ChildContent</span>

@code {
    public override string? ThemeKey { get; set; } = "Pill";

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) => 
        {
            AppendClass(ref cls, "badge");
            AppendClass(ref cls, "rounded-pill");
        });
        return attributes;
    }
}


