@namespace Soenneker.Quark
@inherits Soenneker.Quark.DecoratedTypographicElement
@implements IPill

<span @attributes="BuildAttributes()">@ChildContent</span>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAttribute(attributes, (ref cls) => 
        {
            AppendClass(ref cls, "q-pill");
            AppendClass(ref cls, "badge");
            AppendClass(ref cls, "rounded-pill");
        });
    }
}


