@namespace Soenneker.Quark
@inherits Soenneker.Quark.DecoratedTypographicElement
@implements IPill

<span @attributes="BuildAttributes()">@ChildContent</span>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAttribute(attributes, (ref cls) => 
        {
            AppendClass(ref cls, "q-pill");
            AppendClass(ref cls, "inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold");
        });
    }
}


