@using Soenneker.Bradix

@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    <BradixContextMenuSub Open="@Open"
                           DefaultOpen="@DefaultOpen"
                           OpenChanged="@OpenChanged"
                           OnOpenChange="@OnOpenChange">
        @ChildContent
    </BradixContextMenuSub>
</div>

@code {
    [Parameter]
    public bool? Open { get; set; }

    [Parameter]
    public bool DefaultOpen { get; set; }

    [Parameter]
    public EventCallback<bool> OpenChanged { get; set; }

    [Parameter]
    public EventCallback<bool> OnOpenChange { get; set; }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "context-menu-sub";
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "relative");
        });
    }

}
