@namespace Soenneker.Quark
@using Soenneker.Bradix
@inherits Soenneker.Quark.Element
@implements IAccordionContent

<BradixAccordionContent ForceMount="@ResolvedForceMount" AdditionalAttributes="@OuterAttributes">
    <Div data-slot="accordion-content-inner" Class="@InnerClass">
        @ChildContent
    </Div>
</BradixAccordionContent>

@code {

    [CascadingParameter(Name = nameof(ParentAccordionItem))]
    public AccordionItem? ParentAccordionItem { get; set; }

    private bool ResolvedForceMount => ParentAccordionItem?.ForceMount ?? false;

    private IReadOnlyDictionary<string, object> OuterAttributes => BuildOuterAttributes();

    private string InnerClass => ClassNames.Combine("h-(--radix-accordion-content-height) pt-0 pb-2.5 [&_a]:underline [&_a]:underline-offset-3 [&_a]:hover:text-foreground [&_p:not(:last-child)]:mb-4", Class);

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        Overflow ??= Quark.Overflow.Hidden;
        TextSize ??= Quark.TextSize.Sm;
    }

    private IReadOnlyDictionary<string, object> BuildOuterAttributes()
    {
        var className = Class;

        try
        {
            Class = null;

            Dictionary<string, object> attributes = new(BuildAttributes())
            {
                ["data-slot"] = "accordion-content"
            };

            BuildClassAttribute(attributes, (ref cls) =>
            {
                AppendClass(ref cls, "data-open:animate-accordion-down data-closed:animate-accordion-up");
            });

            return attributes;
        }
        finally
        {
            Class = className;
        }
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(ParentAccordionItem?.ForceMount == true);
    }

}
