@namespace Soenneker.Quark
@using Soenneker.Bradix
@inherits Soenneker.Quark.Element
@implements IAccordionContent

<BradixAccordionContent ForceMount="@ResolvedForceMount"
                        AdditionalAttributes="@OuterAttributes">
    <div @attributes="InnerAttributes">
        @ChildContent
    </div>
</BradixAccordionContent>

@code {
    [CascadingParameter(Name = nameof(ParentAccordionItem))]
    public AccordionItem? ParentAccordionItem { get; set; }

    private bool ResolvedForceMount => ParentAccordionItem?.ForceMount ?? false;

    private IReadOnlyDictionary<string, object> OuterAttributes => BuildOuterAttributes();

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Width ??= Quark.Width.IsFull;
        MinWidth ??= Quark.MinWidth.Is0;
        Overflow ??= Quark.Overflow.Hidden;
        TextSize ??= Quark.TextSize.Sm;
    }

    private IReadOnlyDictionary<string, object> InnerAttributes
    {
        get
        {
            Dictionary<string, object> attributes = new()
            {
                ["data-slot"] = "accordion-content-inner"
            };

            BuildClassAttribute(attributes, (ref cls) =>
            {
                AppendClass(ref cls, "pt-0 pb-4");

                if (Class.HasContent())
                    AppendClass(ref cls, Class!);
            });

            return attributes;
        }
    }

    private IReadOnlyDictionary<string, object> BuildOuterAttributes()
    {
        var className = Class;

        try
        {
            Class = null;

            Dictionary<string, object> attributes = new(BuildAttributes())
            {
                ["data-slot"] = "accordion-content"
            };

            BuildClassAttribute(attributes, (ref cls) =>
            {
                AppendClass(ref cls, "overflow-hidden text-sm data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down");
            });

            return attributes;
        }
        finally
        {
            Class = className;
        }
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(ParentAccordionItem?.ForceMount == true);
    }
}
