@namespace Soenneker.Quark
@using Soenneker.Bradix
@inherits Soenneker.Quark.Element
@implements IAccordionContent

<BradixAccordionContent ForceMount="@ResolvedForceMount"
                        AdditionalAttributes="@OuterAttributes">
    <div @attributes="InnerAttributes">
        @ChildContent
    </div>
</BradixAccordionContent>

@code {
    [CascadingParameter(Name = nameof(ParentAccordionItem))]
    public AccordionItem? ParentAccordionItem { get; set; }

    private bool ResolvedForceMount => ParentAccordionItem?.ForceMount ?? true;

    private IReadOnlyDictionary<string, object> OuterAttributes => BuildOuterAttributes();

    private IReadOnlyDictionary<string, object> InnerAttributes
    {
        get
        {
            Dictionary<string, object> attributes = [];

            BuildClassAttribute(attributes, (ref cls) =>
            {
                AppendClass(ref cls, "pt-0 pb-2.5");
                AppendClass(ref cls, "[&_a]:underline [&_a]:underline-offset-3 [&_a]:hover:text-foreground [&_p:not(:last-child)]:mb-4");

                if (Class.HasContent())
                    AppendClass(ref cls, Class!);
            });

            return attributes;
        }
    }

    private IReadOnlyDictionary<string, object> BuildOuterAttributes()
    {
        var className = Class;

        try
        {
            Class = null;

            Dictionary<string, object> attributes = new(BuildAttributes())
            {
                ["data-slot"] = "accordion-content"
            };

            BuildClassAttribute(attributes, (ref cls) =>
            {
                AppendClass(ref cls, "q-accordion-content");
                AppendClass(ref cls, "overflow-hidden text-sm transition-[height] duration-200 ease-out motion-reduce:transition-none");
                AppendClass(ref cls, "data-[state=closed]:h-0 data-[state=open]:h-(--radix-accordion-content-height)");
            });

            AppendStyleDeclAttr(attributes, "--radix-accordion-content-height: 0px;");

            return attributes;
        }
        finally
        {
            Class = className;
        }
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(ParentAccordionItem?.ForceMount == true);
    }
}
