@namespace Soenneker.Quark
@using Soenneker.Bradix
@inherits Soenneker.Quark.Element
@implements IAccordionContent

<BradixAccordionContent ForceMount="@ResolvedForceMount" AdditionalAttributes="@OuterAttributes">
    <Div data-slot="accordion-content-inner" Padding='Quark.Padding.Is4.FromBottom.Is0.FromTop' Class="@Class">
        @ChildContent
    </Div>
</BradixAccordionContent>

@code {

    [CascadingParameter(Name = nameof(ParentAccordionItem))]
    public AccordionItem? ParentAccordionItem { get; set; }

    private bool ResolvedForceMount => ParentAccordionItem?.ForceMount ?? false;

    private IReadOnlyDictionary<string, object> OuterAttributes => BuildOuterAttributes();

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        Overflow ??= Quark.Overflow.Hidden;
        TextSize ??= Quark.TextSize.Sm;
    }

    private IReadOnlyDictionary<string, object> BuildOuterAttributes()
    {
        var className = Class;

        try
        {
            Class = null;

            Dictionary<string, object> attributes = new(BuildAttributes())
            {
                ["data-slot"] = "accordion-content"
            };

            BuildClassAttribute(attributes, (ref cls) =>
            {
                AppendClass(ref cls, "data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down");
            });

            return attributes;
        }
        finally
        {
            Class = className;
        }
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(ParentAccordionItem?.ForceMount == true);
    }

}
