@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IAccordionItem

<CascadingValue Name="ParentAccordionItem" Value="this">
    <div @attributes="BuildAttributes()">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    [CascadingParameter(Name = nameof(ParentAccordion))]
    public Accordion? ParentAccordion { get; set; }

    private string? _generatedValue;

    internal string ResolvedValue => Value.HasContent() ? Value! : _generatedValue ??= $"accordion-item-{Guid.NewGuid():N}";

    internal string TriggerId => $"{ResolvedValue}-trigger";

    internal string ContentId => $"{ResolvedValue}-content";

    internal bool IsOpen => ParentAccordion?.IsItemOpen(ResolvedValue) == true;

    internal async Task Toggle()
    {
        if (Disabled || ParentAccordion is null)
            return;

        await ParentAccordion.ToggleItem(ResolvedValue);
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "accordion-item";
        attributes["data-state"] = IsOpen ? "open" : "closed";

        if (IsOpen)
            attributes["data-open"] = "true";

        if (Disabled)
            attributes["data-disabled"] = "true";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-accordion-item");
            AppendClass(ref cls, "border-b last:border-b-0");
            if (Disabled)
                AppendClass(ref cls, "opacity-50");
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        hc.Add(Value);
        hc.Add(Disabled);
        hc.Add(IsOpen);
    }
}
