
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<CascadingValue Value="@this" IsFixed >
    <Div @attributes="BuildAttributes()" >
        @ChildContent
    </Div>
</CascadingValue>

@code {
    public override string? ThemeKey { get; set; } = "Field";

    private bool _horizontal;
    private List<Component>? _childComponents;

    /// <summary>
    /// Determines whether the form controls should be aligned horizontally, as in a horizontal form layout.
    /// </summary>
    [Parameter]
    public bool Horizontal
    {
        get => _horizontal;
        set
        {
            _horizontal = value;
            _childComponents?.ForEach(x => StateHasChanged());
        }
    }

    /// <summary>
    /// Registers a child component with this field for layout coordination.
    /// </summary>
    /// <param name="component" />Reference to the child component.</param>
    internal void RegisterChild(Component component)
    {
        _childComponents ??= [];
        _childComponents.Add(component);
    }

    /// <summary>
    /// Unregisters a child component from this field.
    /// </summary>
    /// <param name="component" />Reference to the child component.</param>
    internal void UnregisterChild(Component component)
    {
        _childComponents?.Remove(component);
    }

    protected override Dictionary<string, object> BuildAttributes()
    {
        Dictionary<string, object> attributes = base.BuildAttributes();

        var baseClasses = "form-group";
        if (_horizontal)
            baseClasses += " row";

        AppendToClassAttr(attributes, baseClasses);

        return attributes;
    }

}
