@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IFieldBody

<Div @attributes="BuildAttributes()">
    @ChildContent
</Div>

@code {
    public override string? ThemeKey { get; set; } = "FieldBody";

    protected virtual bool IsHorizontal => ParentField?.Horizontal == true;

    [CascadingParameter]
    protected Field? ParentField { get; set; }

    protected override void OnInitialized()
    {
        ParentField?.RegisterChild(this);
        base.OnInitialized();
    }

    protected override void OnDispose()
    {
        ParentField?.UnregisterChild(this);
        base.OnDispose();
    }

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        return attributes;
    }

}