@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IField

<CascadingValue Value="@this" IsFixed>
    <Div @attributes="BuildAttributes()">
        @ChildContent
    </Div>
</CascadingValue>

@code {
    public override string? ThemeKey { get; set; } = "Field";

    private bool _horizontal;
    private List<Component>? _childComponents;

    [Parameter]
    public bool Horizontal
    {
        get => _horizontal;
        set
        {
            _horizontal = value;
            _childComponents?.ForEach(x => StateHasChanged());
        }
    }

    internal void RegisterChild(Component component)
    {
        _childComponents ??= [];
        _childComponents.Add(component);
    }

    internal void UnregisterChild(Component component)
    {
        _childComponents?.Remove(component);
    }

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        var baseClasses = "form-group";
        if (_horizontal)
            baseClasses += " row";

        AppendToClassAttr(attributes, baseClasses);

        return attributes;
    }

}