@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IModalFooter

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-modal-footer");
            AppendClass(ref cls, "modal-footer");
        });
    }
}
