@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IModalHeader

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        // shadcn DialogHeader - new-york-v4 ui/dialog.tsx
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-modal-header");
            AppendClass(ref cls, "relative flex flex-col space-y-1.5 text-center sm:text-left pr-10");
        });
    }
}
