@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IModalContent

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    [CascadingParameter(Name = nameof(ParentModal))]
    public Modal? ParentModal { get; set; }

    [Parameter]
    public bool Centered { get; set; }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-modal-content");
            AppendClass(ref cls, "relative");
            if (Centered)
                AppendClass(ref cls, "text-center");
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        hc.Add(Centered);
    }
}
