@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IModalHeader

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-modal-header");
            AppendClass(ref cls, "flex flex-col space-y-1.5 text-center sm:text-left");
        });
    }
}
