@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IModalHeader

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        attributes.TryAdd("data-slot", "dialog-header");
        // shadcn DialogHeader - new-york-v4 ui/dialog.tsx
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-modal-header");
            AppendClass(ref cls, "flex flex-col gap-2 text-center sm:text-left");
        });
    }
}
