@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IModalFooter

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        attributes.TryAdd("data-slot", "dialog-footer");
        // shadcn DialogFooter - new-york-v4 ui/dialog.tsx
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-modal-footer");
            AppendClass(ref cls, "flex flex-col-reverse gap-2 sm:flex-row sm:justify-end pt-4");
        });
    }
}
