@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IModalBody

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    // shadcn DialogDescription - new-york-v4 ui/dialog.tsx
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        attributes.TryAdd("data-slot", "dialog-description");
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-modal-body");
            AppendClass(ref cls, "text-muted-foreground text-sm pt-0");
        });
    }

}