@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IModalHeader

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) =>
        {
            AppendClass(ref cls, "q-modal-header");
            AppendClass(ref cls, "modal-header");
        });
        return attributes;
    }
}
