@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements IH1

<h1 @attributes="BuildAttributes()">@ChildContent</h1>

@code{
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        TextSize ??= Quark.TextSize.FourXl;
        FontWeight ??= Quark.FontWeight.Extrabold;
        Tracking ??= Quark.Tracking.Tight;
        ScrollMargin ??= "scroll-m-20";
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "h1";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "text-balance");
        });
    }
}
