@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements IH1

<h1 @attributes="BuildAttributes()">@ChildContent</h1>

@code{
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "h1";
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildTypographyDefaultAttributes(attributes, Quark.TextSize.FourXl, Quark.FontWeight.Extrabold, Quark.Tracking.Tight, "scroll-m-20",
            Quark.TextWrap.Balance);
    }
}
