@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements IH2

<h2 @attributes="BuildAttributes()">@ChildContent</h2>

@code{
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        TextSize ??= Quark.TextSize.ThreeXl;
        FontWeight ??= Quark.FontWeight.Semibold;
        Tracking ??= Quark.Tracking.Tight;
        ScrollMargin ??= "scroll-m-20";
        Border ??= Quark.Border.Default.FromBottom;
        Padding ??= Quark.Padding.Is2.FromBottom;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "h2";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "first:mt-0");
        });
    }
}
