@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements IH3

<h3 @attributes="BuildAttributes()">@ChildContent</h3>

@code{
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        TextSize ??= Quark.TextSize.TwoXl;
        FontWeight ??= Quark.FontWeight.Semibold;
        LetterSpacing ??= Quark.LetterSpacing.Tight;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

    }
}
