@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements IH4

<h4 @attributes="BuildAttributes()">@ChildContent</h4>

@code{
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        TextSize ??= Quark.TextSize.Xl;
        FontWeight ??= Quark.FontWeight.Semibold;
        Tracking ??= Quark.Tracking.Tight;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "h4";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "scroll-m-20");
        });
    }
}
