@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements IH5

<h5 @attributes="BuildAttributes()">@ChildContent</h5>

@code{
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "h5";
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildTypographyDefaultAttributes(attributes, Quark.TextSize.Lg, Quark.FontWeight.Medium);
    }
}
