@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements IH5

<h5 @attributes="BuildAttributes()">@ChildContent</h5>

@code{
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        TextSize ??= Quark.TextSize.Lg;
        FontWeight ??= Quark.FontWeight.Medium;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "h5";

    }
}
