@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements IH6

<h6 @attributes="BuildAttributes()">@ChildContent</h6>

@code{
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        TextSize ??= Quark.TextSize.Base;
        FontWeight ??= Quark.FontWeight.Medium;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

    }
}
