@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<span aria-hidden="true" @attributes="BuildAttributes()">
    <Icon Name="more-horizontal" class="size-4" />
    <span class="sr-only">More pages</span>
</span>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "pagination-ellipsis";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-pagination-ellipsis");
            AppendClass(ref cls, "flex size-9 items-center justify-center");
        });
    }
}
