@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<span @attributes="BuildAttributes()">
    <Icon Name="LucideIcon.Ellipsis" class="size-4" aria-hidden="true" />
    <Span ScreenReader="Quark.ScreenReader.Only">More pages</Span>
</span>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Display ??= Quark.Display.Flex;
        ItemsAlign ??= Items.Center;
        Justify ??= Quark.Justify.Center;
        BoxSize ??= Size.Is9;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "pagination-ellipsis";
        attributes["aria-hidden"] = "true";

    }
}
