@namespace Soenneker.Quark
@inherits Soenneker.Quark.FormControlElement

<PaginationItem>
    <PaginationLink To="@To" OnClick="@OnClick" Disabled="@Disabled" @attributes="BuildAttributes()" aria-label="Go to previous page">
        <Lucide Icon="LucideIcon.ChevronLeft" class="size-4" />
        <span class="hidden sm:inline">Previous</span>
    </PaginationLink>
</PaginationItem>

@code {
    [Parameter] public string? To { get; set; }
    [Parameter] public new EventCallback<MouseEventArgs> OnClick { get; set; }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        BuildClassAttribute(attributes, (ref cls) => AppendClass(ref cls, "gap-1 px-2.5 sm:pl-2.5"));
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        hc.Add(To);
        hc.Add(Disabled);
    }
}
