@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<span @attributes="BuildAttributes()">
    <Icon Name="LucideIcon.Ellipsis" class="size-4" aria-hidden="true" />
    <span class="sr-only">More pages</span>
</span>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Display ??= Quark.Display.Flex;
        ItemsAlign ??= Items.Center;
        Justify ??= Quark.Justify.Center;
        BoxSize ??= Quark.Size.Is9;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "pagination-ellipsis";
        attributes["aria-hidden"] = "true";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "[&_svg:not([class*='size-'])]:size-4");
        });
    }
}
