@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<nav role="navigation" aria-label="pagination" @attributes="BuildAttributes()">
    @ChildContent
</nav>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "pagination";

        Display ??= Quark.Display.Flex;
        Width ??= Quark.Width.IsFull;
        Margin ??= Quark.Margin.OnX.Auto;
        Justify ??= Quark.Justify.Center;
    }
}
