@namespace Soenneker.Quark
@inherits Soenneker.Quark.FormControlElement

<PaginationLink To="@To" OnClick="@OnClick" Disabled="@Disabled" Size="ButtonSize.Default" @attributes="BuildAttributes()" aria-label="Go to previous page">
    <Icon Name="LucideIcon.ChevronLeft" class="size-4 rtl:rotate-180" />
    <span class="hidden sm:block">@Text</span>
</PaginationLink>

@code {
    [Parameter] public string? To { get; set; }
    [Parameter] public string Text { get; set; } = "Previous";

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Gap ??= Quark.Gap.Is1;
        Padding ??= Quark.Padding.Token("2.5").OnX;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        BuildClassAttribute(attributes, (ref cls) => AppendClass(ref cls, "pl-1.5!"));
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(To);
        hc.Add(Text);
        hc.Add(Disabled);
    }
}
