@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<CollapsibleContent Attributes="@BuildAttributes()">
    <Div Class="@MarkdownClass">@ChildContent</Div>
</CollapsibleContent>

@code {
    private string MarkdownClass => "prose max-w-none text-sm leading-6 font-normal text-muted-foreground [&_p]:mb-2.5 prose-strong:font-medium prose-strong:text-foreground prose-ol:my-0 prose-ol:pl-3 prose-ul:my-0 prose-li:my-[-0.5px] [&>*:first-child]:mt-0 [&>*:last-child]:mb-0";

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "reasoning-content";

        Margin ??= Quark.Margin.FromTop.Is2.FromLeft.Is2;
        Overflow ??= Quark.Overflow.Hidden;
        Border ??= Quark.Border.FromLeft.Default;
        Padding ??= Quark.Padding.FromLeft.Is3;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        BuildClassAttribute(attributes, (ref cls) => AppendClass(ref cls, "data-[state=closed]:animate-collapsible-up data-[state=open]:animate-collapsible-down"));
    }
}
