[data-slot='tree-view'] {
    display: block;
}

[data-slot='tree-view-node'] {
    display: block;
}

[data-slot='tree-view-row'] {
    display: flex;
    align-items: center;
    gap: .25rem;
}

[data-slot='tree-view-toggle'] {
    cursor: pointer;
    user-select: none;
}

[data-slot='tree-view-node-title'] {
    display: inline-flex;
    align-items: center;
    gap: .25rem;
}

[data-slot='tree-view-node-content'] {
    cursor: pointer;
}

[data-slot='tree-view-node-content'].pointer-events-none {
    opacity: .6;
    pointer-events: none;
}


