@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "popover-header";

        Display ??= Quark.Display.Flex;
        FlexDirection ??= Quark.FlexDirection.Col;
        Gap ??= Quark.Gap.Token("0.5");
        TextSize ??= Quark.TextSize.Sm;
    }
}