@using Soenneker.Bradix
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    <BradixPopover Open="@(OpenChanged.HasDelegate ? Open : (bool?)null)"
                   DefaultOpen="@DefaultOpen"
                   OpenChanged="@OpenChanged"
                   Modal="@Modal">
        <CascadingValue Value="_context" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </BradixPopover>
</div>

@code {
    [Parameter]
    public bool Open { get; set; }

    [Parameter]
    public EventCallback<bool> OpenChanged { get; set; }

    [Parameter]
    public bool DefaultOpen { get; set; }

    /// <summary>Radix <c>modal</c>; default <c>false</c> (popover does not trap the page as a modal dialog).</summary>
    [Parameter]
    public bool Modal { get; set; }

    private PopoverContext _context = null!;

    protected override void OnInitialized()
    {
        _context = new PopoverContext
        {
            Modal = Modal
        };
    }

    protected override void OnParametersSet()
    {
        _context.Modal = Modal;
        base.OnParametersSet();
    }

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Position ??= Quark.Position.Relative;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "popover";

    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(Open);
        hc.Add(DefaultOpen);
        hc.Add(Modal);
    }
}
