
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IOffcanvasBody

<Div @attributes="BuildAttributes()" >
    @ChildContent
</Div>

@code {
    public override string? ThemeKey { get; set; } = "OffcanvasBody";

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attrs = base.BuildAttributes();
        AppendToClassAttr(attrs, "offcanvas-body");
        return attrs;
    }

}
