@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IModalBody

<Div @attributes="BuildAttributes()">
    @ChildContent
</Div>

@code {
    public override string? ThemeKey { get; set; } = "ModalBody";

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) => AppendClass(ref cls, "modal-body"));
        return attributes;
    }

}