@using Soenneker.Blazor.Extensions.EventCallback

@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IModal

@if (Visible)
{
    <CascadingValue Value="@this">
        <Div Class="@GetModalClasses()" Style="@GetModalStyles()" TabIndex="-1" OnKeyDown="HandleKeyDown" @attributes="BuildAttributes()">
            <Div Class="@GetDialogClasses()">
                <Div Class="modal-content">
                    @ChildContent
                </Div>
            </Div>
        </Div>
        @if (ShowBackdrop)
        {
            <Div Class="modal-backdrop fade show" OnClick="HandleBackdropClick"></Div>
        }
    </CascadingValue>
}

@code {
	public override string? ThemeKey { get; set; } = "Modal";

    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback<bool> VisibleChanged { get; set; }

    [Parameter]
    public bool ShowBackdrop { get; set; } = true;

    [Parameter]
    public bool Centered { get; set; }

    [Parameter]
    public bool Scrollable { get; set; }

    [Parameter]
    public CssValue<SizeBuilder>? Size { get; set; } = Quark.Size.Default;

    [Parameter]
    public bool Static { get; set; }

    [Parameter]
    public EventCallback OnShow { get; set; }

    [Parameter]
    public EventCallback OnHide { get; set; }

    [Parameter]
    public EventCallback OnBackdropClick { get; set; }

    private string GetModalClasses()
    {
        var attributes = new Dictionary<string, object>();
        
        AppendToClassAttr(attributes, "modal");
        AppendToClassAttr(attributes, "fade");
        
        if (Visible)
            AppendToClassAttr(attributes, "show");
            
        if (Class.HasContent())
            AppendToClassAttr(attributes, Class!);
            
        return attributes.TryGetValue("class", out var classValue) ? classValue.ToString() ?? string.Empty : string.Empty;
    }

    private string GetDialogClasses()
    {
        var attributes = new Dictionary<string, object>();
        
        AppendToClassAttr(attributes, "modal-dialog");
        
        if (Centered)
            AppendToClassAttr(attributes, "modal-dialog-centered");
            
        if (Scrollable)
            AppendToClassAttr(attributes, "modal-dialog-scrollable");
            
        if (Size != null && !Size.Value.IsEmpty)
            AppendToClassAttr(attributes, $"modal-{Size.Value}");
            
        return attributes.TryGetValue("class", out var classValue) ? classValue.ToString() ?? string.Empty : string.Empty;
    }

    private string GetModalStyles()
    {
        var attributes = new Dictionary<string, object>();
        
        if (Visible)
            AppendStyleDeclAttr(attributes, "display: block");
            
        if (Style.HasContent())
            AppendStyleDeclAttr(attributes, Style!);
            
        return attributes.TryGetValue("style", out var styleValue) ? styleValue.ToString() ?? string.Empty : string.Empty;
    }

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        
        attributes["role"] = "dialog";
        attributes["aria-modal"] = "true";
        
        if (Static)
            attributes["data-bs-backdrop"] = "static";
            
        return attributes;
    }

    protected override async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (!Static && e.Key == "Escape")
        {
            await Hide();
        }

        await base.HandleKeyDown(e);
    }

    private async Task HandleBackdropClick(MouseEventArgs args)
    {
        if (!Static)
        {
            await OnBackdropClick.InvokeIfHasDelegate();
            await Hide();
        }
    }

    public async Task Show()
    {
        if (!Visible)
        {
            Visible = true;

            await VisibleChanged.InvokeIfHasDelegate(Visible);
            await OnShow.InvokeIfHasDelegate();

            StateHasChanged();
        }
    }

    public async Task Hide()
    {
        if (Visible)
        {
            Visible = false;

            await VisibleChanged.InvokeIfHasDelegate(Visible);
            await OnHide.InvokeIfHasDelegate();

            StateHasChanged();
        }
    }
}
