@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IModalHeader

<Div @attributes="BuildAttributes()">
    @ChildContent
</Div>

@code {
	public override string? ThemeKey { get; set; } = "ModalHeader";

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        AppendToClassAttr(attributes, "modal-header");

        return attributes;
    }
}
