@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IAlertDialogFooter

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        // shadcn AlertDialogFooter - new-york-v4 ui/alert-dialog.tsx
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-alert-dialog-footer");
            AppendClass(ref cls, "flex flex-col-reverse gap-2 group-data-[size=sm]/alert-dialog-content:grid group-data-[size=sm]/alert-dialog-content:grid-cols-2 sm:flex-row sm:justify-end");
        });
    }
}
