@using Soenneker.Quark.Components.Surface.Interactive.Buttons.Abstract

@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IButtonGroup

<CascadingValue Value="this">
    <div @attributes="BuildAttributes()">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter]
    public CssValue<ButtonSizeBuilder>? Size { get; set; } = "default";

    [Parameter]
    public bool Vertical { get; set; }

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Display ??= Quark.Display.Flex;
        Width ??= Quark.Width.IsFit;
        ItemsAlign ??= Quark.Items.Stretch;

        if (Vertical)
            Flex ??= Quark.Flex.Display.Column;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "button-group";
        attributes["data-orientation"] = Vertical ? "vertical" : "horizontal";

        if (!attributes.ContainsKey("role"))
            attributes["role"] = Role ?? "group";

        if (AriaLabel.HasContent())
            attributes["aria-label"] = AriaLabel;

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "group/button-group");
            AppendClass(ref cls, "*:focus-visible:relative *:focus-visible:z-10 has-[>[data-slot=button-group]]:gap-2");
            AppendClass(ref cls, "has-[select[aria-hidden=true]:last-child]:[&>[data-slot=select-trigger]:last-of-type]:rounded-r-lg");
            AppendClass(ref cls, "[&>[data-slot=dropdown-menu]]:inline-flex [&>[data-slot=dropdown-menu]>[data-slot=dropdown-menu-trigger]]:h-full");
            AppendClass(ref cls, "[&>[data-slot=select-trigger]:not([class*='w-'])]:w-fit [&>input]:flex-1");
            AppendClass(ref cls, "[&>[data-slot=input]]:shadow-none [&>[data-slot]:not(:has(~[data-slot]))]:rounded-r-lg!");

            if (Vertical)
            {
                AppendClass(ref cls,
                    "[&>[data-slot=input]]:rounded-none " +
                    "[&>[data-slot=input]:first-child]:rounded-t-lg " +
                    "[&>[data-slot=input]:last-child]:rounded-b-lg " +
                    "[&>[data-slot=input]:not(:first-child)]:border-t-0 " +
                    "[&>*]:rounded-none " +
                    "[&>[data-slot=dropdown-menu]>[data-slot=dropdown-menu-trigger]]:rounded-none " +
                    "[&>*:not(:first-child)]:rounded-t-none " +
                    "[&>*:not(:first-child)]:border-t-0 " +
                    "[&>*:not(:first-child)>[data-slot=dropdown-menu-trigger]]:rounded-t-none " +
                    "[&>*:not(:first-child)>[data-slot=dropdown-menu-trigger]]:border-t-0 " +
                    "[&>*:not(:last-child)]:rounded-b-none");
            }
            else
            {
                AppendClass(ref cls,
                    "[&>input]:flex-1 " +
                    "[&>*:not(:first-child)]:rounded-l-none " +
                    "[&>*:not(:first-child)]:border-l-0 " +
                    "[&>*:not(:first-child)>[data-slot=dropdown-menu-trigger]]:rounded-l-none " +
                    "[&>*:not(:first-child)>[data-slot=dropdown-menu-trigger]]:border-l-0 " +
                    "[&>*:not(:last-child)>[data-slot=dropdown-menu-trigger]]:rounded-r-none " +
                    "[&>*:not(:last-child)]:rounded-r-none " +
                    "[&>[data-slot=input]:not(:first-child)]:border-l-0");
            }
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        hc.Add(Size);
        hc.Add(Vertical);
        hc.Add(Role);
        hc.Add(AriaLabel);
    }
}
