@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

@if (AsChild)
{
    <CascadingValue Name="@SlotAttributes.Name" Value="BuildAttributes()" IsFixed="false">
        @ChildContent
    </CascadingValue>
}
else
{
    <div @attributes="BuildAttributes()">@ChildContent</div>
}

@code {
    [Parameter]
    public bool AsChild { get; set; }

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Display ??= Quark.Display.InlineFlex;
        Height ??= Quark.Height.Is8;
        MinWidth ??= Quark.MinWidth.Token("8");
        ItemsAlign ??= Items.Center;
        Justify ??= Quark.Justify.Center;
        Gap ??= Quark.Gap.Is2;
        Rounded ??= Quark.Rounded.Lg;
        Border ??= Quark.Border.Is1;
        BorderColor ??= Quark.BorderColor.Input;
        TextSize ??= Quark.TextSize.Sm;
        FontWeight ??= Quark.FontWeight.Medium;
        Whitespace ??= Quark.Whitespace.Nowrap;
        Transition ??= Quark.Transition.Colors;
        Padding ??= Quark.Padding.Token("2.5").OnX;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "button-group-text";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "[&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4");
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(AsChild);
    }
}
