@using Soenneker.Quark.Components.Surface.Interactive.Buttons.Abstract

@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IButtonGroup

<CascadingValue Value="this">
    <div @attributes="BuildAttributes()">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter]
    public ButtonSize? Size { get; set; }

    [Parameter]
    public bool Vertical { get; set; }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "button-group";
        attributes["data-orientation"] = Vertical ? "vertical" : "horizontal";

        if (!attributes.ContainsKey("role"))
            attributes["role"] = Role ?? "group";

        if (AriaLabel.HasContent())
            attributes["aria-label"] = AriaLabel;

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-button-group inline-flex w-fit");

            if (Vertical)
            {
                AppendClass(ref cls,
                    "flex-col " +
                    "[&>*]:rounded-none " +
                    "[&>*:first-child]:rounded-t-md " +
                    "[&>*:last-child]:rounded-b-md " +
                    "[&>*:not(:first-child)]:border-t-0 " +
                    "[&>*:focus-visible]:relative " +
                    "[&>*:focus-visible]:z-10");
            }
            else
            {
                AppendClass(ref cls,
                    "flex-row " +
                    "[&>*]:rounded-none " +
                    "[&>*:first-child]:rounded-l-md " +
                    "[&>*:last-child]:rounded-r-md " +
                    "[&>*:not(:first-child)]:border-l-0 " +
                    "[&>*:focus-visible]:relative " +
                    "[&>*:focus-visible]:z-10");
            }
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        hc.Add(Size);
        hc.Add(Vertical);
        hc.Add(Role);
        hc.Add(AriaLabel);
    }
}