@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()"></div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "button-group-separator";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-button-group-separator bg-border shrink-0");
            AppendClass(ref cls, "w-px self-stretch");
        });
    }
}
