@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Padding ??= Quark.Padding.Is2.OnX.Token("1.5").OnY;
        TextSize ??= Quark.TextSize.Xs;
        FontWeight ??= Quark.FontWeight.Medium;
        TextColor ??= Quark.TextColor.MutedForeground;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "combobox-label";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "");
        });
    }
}
