@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "combobox-empty";

        Padding ??= Quark.Padding.OnY.Is2;
        TextAlign ??= Quark.TextAlign.Center;
        TextSize ??= Quark.TextSize.Sm;
        Width ??= Quark.Width.IsFull;
        Justify ??= Quark.Justify.Center;
        TextColor ??= Quark.TextColor.MutedForeground;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "hidden group-data-empty/combobox-content:flex");
        });
    }
}