@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "combobox-label";

        Padding ??= Quark.Padding.OnX.Is2.OnY.Token("1.5");
        TextSize ??= Quark.TextSize.Xs;
        TextColor ??= Quark.TextColor.MutedForeground;
    }
}
