@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

@if (ParentCombobox?.HasVisibleItems != true)
{
    <div @attributes="BuildAttributes()">
        @ChildContent
    </div>
}

@code {
    [CascadingParameter(Name = "ParentCombobox")]
    private Combobox? ParentCombobox { get; set; }

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Padding ??= Quark.Padding.Is2.OnY;
        TextAlign ??= Quark.TextAlign.Center;
        TextSize ??= Quark.TextSize.Sm;
        Width ??= Quark.Width.IsFull;
        Justify ??= Quark.Justify.Center;
        TextColor ??= Quark.TextColor.MutedForeground;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "combobox-empty";

    }
}
