@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()"></div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "combobox-separator";

        BackgroundColor ??= Quark.BackgroundColor.Utility("bg-border");
        Margin ??= Quark.Margin.OnY.Is1.OnX.Token("-1");
        Height ??= Quark.Height.IsPx;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["role"] = "separator";

    }
}