@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()"></div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        BackgroundColor ??= Quark.BackgroundColor.Utility("bg-border");
        Margin ??= Quark.Margin.Is1.OnY.Token("-1").OnX;
        Height ??= Quark.Height.IsPx;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "combobox-separator";
        attributes["role"] = "separator";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, string.Empty);
        });
    }
}
