@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "command-list";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-command-list");
            AppendClass(ref cls, "max-h-[300px] overflow-x-hidden overflow-y-auto scroll-py-1");
        });
    }
}
