@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements IFormText

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "form-text";

        TextSize ??= Quark.TextSize.Sm;
        TextColor ??= Quark.TextColor.MutedForeground;
    }
}