@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements IPill

<span @attributes="BuildAttributes()">@ChildContent</span>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Display ??= Quark.Display.InlineFlex;
        ItemsAlign ??= Quark.Items.Center;
        Justify ??= Quark.Justify.Center;
        Rounded ??= Quark.Rounded.Full;
        Border ??= Quark.Border.Default;
        BorderColor ??= Quark.BorderColor.Transparent;
        Padding ??= Quark.Padding.Token("2.5").OnX.Token("0.5").OnY;
        TextSize ??= Quark.TextSize.Xs;
        FontWeight ??= Quark.FontWeight.Semibold;
        Width ??= Quark.Width.IsFit;
        Whitespace ??= Quark.Whitespace.Nowrap;
        Shrink ??= Quark.Shrink.Is0;
        Transition ??= Quark.Transition.Token("transition-[color,shadow]");
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "pill";

    }
}
