@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements IText

<span @attributes="BuildAttributes()">@ChildContent</span>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        TextSize ??= Quark.TextSize.Sm;
        TextColor ??= Quark.TextColor.Foreground;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-text");
        });
    }
}
