
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IOrderedListItem

<li @attributes="BuildAttributes()">
	@ChildContent
</li>

@code {
    public override string? ThemeKey { get; set; } = "ListItem";
}
