@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICardHeader

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    // CardHeader: flex flex-col space-y-1.5 p-6
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-card-header");
            AppendClass(ref cls, "flex flex-col space-y-1.5 p-6");
        });
    }
}