@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICardFooter

<div @attributes="BuildAttributes()" >
	@ChildContent
</div>

@code {
	protected override void BuildAttributesCore(Dictionary<string, object> attributes)
	{
        attributes.TryAdd("data-slot", "card-footer");

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-card-footer");
            // shadcn CardFooter
            AppendClass(ref cls, "flex items-center px-6 [.border-t]:pt-6");
        });
	}

}
