@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICardBody

<div @attributes="BuildAttributes()" >
	@ChildContent
</div>

@code {
	protected override Dictionary<string, object> BuildAttributes()
	{
		var attributes = base.BuildAttributes();
		BuildClassAttribute(attributes, (ref cls) =>
		{
			AppendClass(ref cls, "q-card-body");
			AppendClass(ref cls, "card-body");
		});
		return attributes;
	}

}
