@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICardSubtitle

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    public override string? ThemeKey { get; set; } = "CardSubtitle";

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) =>
        {
            AppendClass(ref cls, "card-subtitle");
            AppendClass(ref cls, "mb-2");
            AppendClass(ref cls, "text-muted");
        });
        return attributes;
    }

}