@namespace Soenneker.Quark
@inherits Soenneker.Quark.SurfaceElement
@implements ICard

<CascadingValue Value="@this" IsFixed="true">
    <Div @attributes="BuildCardAttributes()">
        @ChildContent
    </Div>
</CascadingValue>

@code {
	public override string? ThemeKey { get; set; } = "Card";

    protected virtual Dictionary<string, object> BuildCardAttributes()
    {
        var attributes = BuildAttributes();
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) => AppendClass(ref cls, "card"));
        return attributes;
    }
}
