@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICardHeader

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-card-header");
            AppendClass(ref cls, "card-header");
        });
        return attributes;
    }

}