@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICardFooter

<div @attributes="BuildAttributes()" >
	@ChildContent
</div>

@code {
	// CardFooter: flex items-center p-6 pt-0
	protected override void BuildAttributesCore(Dictionary<string, object> attributes)
	{
		base.BuildAttributesCore(attributes);
		BuildClassAttribute(attributes, (ref cls) =>
		{
			AppendClass(ref cls, "q-card-footer");
			AppendClass(ref cls, "flex items-center p-6 pt-0");
		});
	}
}
