@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICardBody

<div @attributes="BuildAttributes()" >
	@ChildContent
</div>

@code {
	// CardContent: p-6 pt-0
	protected override void BuildAttributesCore(Dictionary<string, object> attributes)
	{
		base.BuildAttributesCore(attributes);
		BuildClassAttribute(attributes, (ref cls) =>
		{
			AppendClass(ref cls, "q-card-body");
			AppendClass(ref cls, "p-6 pt-0");
		});
	}
}
