@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICardBody

<div @attributes="BuildAttributes()" >
	@ChildContent
</div>

@code {
	protected override void BuildAttributesCore(Dictionary<string, object> attributes)
	{
		attributes.TryAdd("data-slot", "card-content");

		BuildClassAttribute(attributes, (ref cls) =>
		{
			AppendClass(ref cls, "q-card-body");
			// shadcn CardContent
			AppendClass(ref cls, "px-6");
		});
	}

}
