@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICardText

<p @attributes="BuildAttributes()">
    @ChildContent
</p>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-card-text");
            AppendClass(ref cls, "card-text");
        });
    }

}