@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IPaginationItem

<li @attributes="BuildAttributes()">
	@ChildContent
</li>

@code {
    /// <summary>
    /// Gets or sets whether the pagination item is active.
    /// </summary>
    [Parameter]
    public bool Active { get; set; }

    /// <summary>
    /// Gets or sets whether the pagination item is disabled.
    /// </summary>
    [Parameter]
    public bool Disabled { get; set; }


    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-pagination-item");
            AppendClass(ref cls, "page-item");
            
            if (Active)
                AppendClass(ref cls, "active");
            if (Disabled)
                AppendClass(ref cls, "disabled");
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        hc.Add(Active);
        hc.Add(Disabled);
    }
}