@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        SetDefaultDataSlot("image-action-group");
        AppendToClassAttr(attributes, "flex items-center gap-1.5");
    }
}
