@using System.Threading

@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<CascadingValue Value="_context" IsFixed="true">
    <CascadingValue Name="ParentTooltip" Value="@this" IsFixed="true">
        <div @attributes="BuildAttributes()">
            @ChildContent
        </div>
    </CascadingValue>
</CascadingValue>

@code {
    [CascadingParameter(Name = "TooltipProvider")]
    private TooltipProvider? Provider { get; set; }

    [Parameter]
    public bool Open { get; set; }

    [Parameter]
    public EventCallback<bool> OpenChanged { get; set; }

    [Parameter]
    public bool DefaultOpen { get; set; }

    [Parameter]
    public int? DelayDuration { get; set; }

    private bool _open;
    private TooltipContext _context = null!;
    private CancellationTokenSource? _pendingOpenCts;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _open = OpenChanged.HasDelegate ? Open : DefaultOpen;
        _context = new TooltipContext(() => _open, RequestOpenAsync, OpenImmediateAsync, CloseAsync);
    }

    protected override void OnParametersSet()
    {
        if (OpenChanged.HasDelegate)
            _open = Open;

        base.OnParametersSet();
    }

    private int EffectiveDelayDuration => DelayDuration ?? Provider?.DelayDuration ?? 0;

    private async Task RequestOpenAsync()
    {
        _pendingOpenCts?.Cancel();
        _pendingOpenCts?.Dispose();
        _pendingOpenCts = null;

        if (_open)
            return;

        var delay = EffectiveDelayDuration;

        if (delay <= 0)
        {
            await SetOpenAsync(true);
            return;
        }

        var cts = new CancellationTokenSource();
        _pendingOpenCts = cts;

        try
        {
            await Task.Delay(delay, cts.Token);
            await SetOpenAsync(true);
        }
        catch (OperationCanceledException)
        {
        }
        finally
        {
            if (ReferenceEquals(_pendingOpenCts, cts))
            {
                _pendingOpenCts.Dispose();
                _pendingOpenCts = null;
            }
            else
            {
                cts.Dispose();
            }
        }
    }

    private async Task CloseAsync()
    {
        _pendingOpenCts?.Cancel();
        _pendingOpenCts?.Dispose();
        _pendingOpenCts = null;

        if (!_open)
            return;

        await SetOpenAsync(false);
    }

    private async Task OpenImmediateAsync()
    {
        _pendingOpenCts?.Cancel();
        _pendingOpenCts?.Dispose();
        _pendingOpenCts = null;

        if (_open)
            return;

        await SetOpenAsync(true);
    }

    private async Task SetOpenAsync(bool open)
    {
        if (_open == open)
            return;

        var wasOpen = _open;
        _open = open;

        if (wasOpen && !open)
            Provider?.UnregisterOpenTooltip(this);
        else if (!wasOpen && open)
            Provider?.RegisterOpenTooltip(this);

        if (OpenChanged.HasDelegate)
            await OpenChanged.InvokeAsync(open);

        await RefreshOffThread();
    }

    internal async Task DismissFromDocumentEscapeAsync()
    {
        await CloseAsync();
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "tooltip";
        attributes["data-state"] = _open ? "open" : "closed";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-tooltip");
            AppendClass(ref cls, "group/tooltip relative");
        });
    }

    public override void Dispose()
    {
        if (_open)
            Provider?.UnregisterOpenTooltip(this);

        _pendingOpenCts?.Cancel();
        _pendingOpenCts?.Dispose();
        _pendingOpenCts = null;
        base.Dispose();
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(_open);
        hc.Add(EffectiveDelayDuration);
    }
}
