@namespace Soenneker.Quark
@using Soenneker.Blazor.Extensions.EventCallback

@inherits Soenneker.Quark.Element
@implements IBarDropdownItem

<a @attributes="BuildAttributes()" @onclick="HandleClick">
    @ChildContent
</a>

@code {

    /// <summary>
    /// Gets or sets the navigation target URL.
    /// </summary>
    [Parameter]
    public string? To { get; set; }

    /// <summary>
    /// Gets or sets the callback invoked when the item is clicked.
    /// </summary>
    [Parameter]
    public EventCallback<MouseEventArgs> Clicked { get; set; }

    /// <summary>
    /// Gets or sets whether the dropdown item is disabled.
    /// </summary>
    [Parameter]
    public bool Disabled { get; set; }

    /// <summary>
    /// Gets or sets the indentation level for nested items.
    /// </summary>
    [Parameter]
    public double Indentation { get; set; } = 1.5d;

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-bar-dropdown-item");
            AppendClass(ref cls, "link-dark");
            AppendClass(ref cls, "rounded");
            AppendClass(ref cls, "d-block");

            if (Disabled)
                AppendClass(ref cls, "disabled");
        });

        BuildStyleAttribute(attributes, (ref sty) =>
        {
            if (!Disabled)
            {
                AppendStyleDecl(ref sty, "cursor: pointer");
            }
            else
            {
                AppendStyleDecl(ref sty, "cursor: not-allowed");
            }
        });

        if (To.HasContent())
            attributes["href"] = To!;

        if (Disabled)
        {
            attributes["aria-disabled"] = "true";
            attributes["tabindex"] = "-1";
        }

        return attributes;
    }

    /// <summary>
    /// Handles the click event for the dropdown item.
    /// </summary>
    /// <param name="e">The mouse event arguments.</param>
    protected override async Task HandleClick(MouseEventArgs e)
    {
        await base.HandleClick(e);

        if (!Disabled)
        {
            await Clicked.InvokeIfHasDelegate(e);
        }
    }

}