@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IBarDropdown

<CascadingValue Value="this">
    <div @attributes="BuildAttributes()">
        @ChildContent
    </div>
</CascadingValue>

@code {
    /// <summary>
    /// Gets or sets whether the dropdown menu should be right-aligned.
    /// </summary>
    [Parameter]
    public bool RightAligned { get; set; }

    [CascadingParameter]
    public BarMode Mode { get; set; } = BarMode.Horizontal;

    public string CollapseId { get; } = $"collapse-{Guid.NewGuid():N}";

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-bar-dropdown");
            if (Mode != BarMode.Horizontal)
            {
                AppendClass(ref cls, "w-100");
            }
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        hc.Add(RightAligned);
        hc.Add(Mode);
    }
}