@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IBarDropdown

<CascadingValue Value="this">
    <div @attributes="BuildAttributes()">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter]
    public bool RightAligned { get; set; }

    [CascadingParameter]
    public BarMode Mode { get; set; } = BarMode.Horizontal;

    public string CollapseId { get; } = $"collapse-{Guid.NewGuid():N}";

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        if (Mode != BarMode.Horizontal)
        {
            BuildClassAttribute(attributes, (ref PooledStringBuilder cls) => AppendClass(ref cls, "w-100"));
        }

        return attributes;
    }
}
