@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IBarEnd

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    [CascadingParameter(Name = nameof(Mode))]
    public BarMode Mode { get; set; } = BarMode.Horizontal;

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-bar-end");

            if (Mode == BarMode.Horizontal)
            {
                AppendClass(ref cls, "navbar-nav");
                AppendClass(ref cls, "ms-auto");
            }
            else
            {
                AppendClass(ref cls, "mt-auto");
                AppendClass(ref cls, "dropdown");
            }
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        hc.Add(Mode);
    }
}