
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IBarEnd

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
	public override string? ThemeKey { get; set; } = "BarEnd";

    [CascadingParameter]
    public BarMode Mode { get; set; } = BarMode.Horizontal;


    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) =>
        {
            if (Mode == BarMode.Horizontal)
            {
                AppendClass(ref cls, "navbar-nav");
                AppendClass(ref cls, "ms-auto");
            }
            else
            {
                AppendClass(ref cls, "mt-auto");
                AppendClass(ref cls, "dropdown");
            }
        });

        return attributes;
    }
}
