
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IBarLabel

<div @attributes="BuildAttributes()" >
    @ChildContent
</div>

@code {
    // shadcn - new-york-v4
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        BuildClassAttribute(attributes, (ref cls) => AppendClass(ref cls, "q-bar-label"));
    }

}
