
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IBarMenu

<div @attributes="BuildAttributes()" >
    @ChildContent
</div>

@code {
    /// <summary>
    /// Gets or sets whether the menu should be right-aligned.
    /// </summary>
    [Parameter]
    public bool Right { get; set; }

    [CascadingParameter(Name = nameof(Mode))]
    public BarMode Mode { get; set; } = BarMode.Horizontal;

    [CascadingParameter(Name = nameof(VerticalBarCollapsed))]
    public bool VerticalBarCollapsed { get; set; }

    [CascadingParameter(Name = nameof(MenuId))]
    public string? MenuId { get; set; }

    protected override bool ShouldRender()
    {
        // For vertical bars, always render when sidebar collapse state might change
        // The base component's render key doesn't track cascading parameters
        if (Mode != BarMode.Horizontal)
        {
            return true;
        }

        return base.ShouldRender();
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        if (Mode == BarMode.Horizontal)
        {
            BuildClassAttribute(attributes, (ref cls) =>
            {
                AppendClass(ref cls, "q-bar-menu");
                AppendClass(ref cls, "collapse");
                AppendClass(ref cls, "navbar-collapse");
                
                if (Right)
                    AppendClass(ref cls, "ms-auto");
            });
            
            if (MenuId.HasContent())
                attributes["id"] = MenuId;
        }

        if (Mode != BarMode.Horizontal)
        {
            BuildClassAttribute(attributes, (ref cls) =>
            {
                AppendClass(ref cls, "q-bar-menu");
                AppendClass(ref cls, "d-flex");
                AppendClass(ref cls, "flex-column");
            });

            BuildStyleAttribute(attributes, (ref sty) =>
            {
                AppendStyleDecl(ref sty, "width: 100%");
                AppendStyleDecl(ref sty, "height: 100%");
                if (VerticalBarCollapsed)
                    AppendStyleDecl(ref sty, "gap: 0.25rem");
            });
        }
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        hc.Add(Right);
        hc.Add(Mode);
        hc.Add(VerticalBarCollapsed);
        hc.Add(MenuId);
    }
}