
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IBarStart

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    [CascadingParameter]
    public BarMode Mode { get; set; } = BarMode.Horizontal;


    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) =>
        {
            AppendClass(ref cls, "q-bar-start");
            if (Mode != BarMode.Horizontal)
            {
                AppendClass(ref cls, "nav");
                AppendClass(ref cls, "nav-pills");
                AppendClass(ref cls, "flex-column");
                AppendClass(ref cls, "flex-grow-1");
            }
            else
            {
                AppendClass(ref cls, "navbar-nav");
            }
        });

        return attributes;
    }
}
