@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements INavigationMenuContent

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    [Parameter]
    public bool Open { get; set; }

    [Parameter]
    public bool DisableAutoOpen { get; set; }

    [Parameter]
    public string? Motion { get; set; }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "navigation-menu-content";
        attributes["data-state"] = Open ? "open" : "closed";

        if (Motion.HasContent())
            attributes["data-motion"] = Motion!;

        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) =>
        {
            AppendClass(ref cls, "q-navigation-menu-content");
            AppendClass(ref cls, "top-0 left-0 w-full p-2 pr-2.5 md:absolute md:w-auto");
            AppendClass(ref cls, "data-[state=closed]:hidden data-[state=open]:block");
            AppendClass(ref cls, "data-[motion^=from-]:animate-in data-[motion^=to-]:animate-out data-[motion^=from-]:fade-in data-[motion^=to-]:fade-out");
            AppendClass(ref cls, "data-[motion=from-end]:slide-in-from-right-52 data-[motion=from-start]:slide-in-from-left-52 data-[motion=to-end]:slide-out-to-right-52 data-[motion=to-start]:slide-out-to-left-52");
            AppendClass(ref cls, "group-data-[viewport=false]/navigation-menu:bg-popover group-data-[viewport=false]/navigation-menu:text-popover-foreground");
            AppendClass(ref cls, "group-data-[viewport=false]/navigation-menu:data-[state=open]:animate-in group-data-[viewport=false]/navigation-menu:data-[state=closed]:animate-out");
            AppendClass(ref cls, "group-data-[viewport=false]/navigation-menu:data-[state=closed]:zoom-out-95 group-data-[viewport=false]/navigation-menu:data-[state=open]:zoom-in-95");
            AppendClass(ref cls, "group-data-[viewport=false]/navigation-menu:data-[state=open]:fade-in-0 group-data-[viewport=false]/navigation-menu:data-[state=closed]:fade-out-0");
            AppendClass(ref cls, "group-data-[viewport=false]/navigation-menu:top-full group-data-[viewport=false]/navigation-menu:mt-1.5");
            AppendClass(ref cls, "group-data-[viewport=false]/navigation-menu:overflow-hidden group-data-[viewport=false]/navigation-menu:rounded-md group-data-[viewport=false]/navigation-menu:border group-data-[viewport=false]/navigation-menu:shadow");
            AppendClass(ref cls, "group-data-[viewport=false]/navigation-menu:duration-200");
            AppendClass(ref cls, "**:data-[slot=navigation-menu-link]:focus:ring-0 **:data-[slot=navigation-menu-link]:focus:outline-none");

            if (!DisableAutoOpen)
                AppendClass(ref cls, "group-hover/navigation-menu-item:block group-focus-within/navigation-menu-item:block");
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        hc.Add(Open);
        hc.Add(DisableAutoOpen);
        hc.Add(Motion);
    }
}
