@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICardHeader

<Div @attributes="BuildAttributes()">
    @ChildContent
</Div>

@code {
    public override string? ThemeKey { get; set; } = "CardHeader";

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) => AppendClass(ref cls, "card-header"));
        return attributes;
    }

}