@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ISheetHeader

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);


        attributes["data-slot"] = "sheet-header";
    }

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        Display ??= Quark.Display.Flex;
        FlexDirection ??= Quark.FlexDirection.Col;
        Gap ??= Quark.Gap.Token("1.5");
        Padding ??= Quark.Padding.Is4;

    }
}
