@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IH1

<h1 @attributes="BuildAttributes()">@ChildContent</h1>

@code{
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAndStyleAttributes(attributes, (ref cls, ref sty) =>
        {
            AppendClass(ref cls, "q-h1 text-4xl font-bold tracking-tight");
        });
    }
}
