@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IH1

<h1 @attributes="BuildAttributes()">@ChildContent</h1>

@code{
    [Parameter]
    public CssValue<DisplaySizeBuilder>? DisplaySize { get; set; }

    public override string? ThemeKey { get; set; } = "H1";
}
