@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IH2

<h2 @attributes="BuildTypographicAttributes()">@ChildContent</h2>

@code{
    public override string? ThemeKey { get; set; } = "H2";
}
