@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IH2

<h2 @attributes="BuildAttributes()">@ChildContent</h2>

@code{
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAndStyleAttributes(attributes, (ref cls, ref sty) =>
        {
            AppendClass(ref cls, "q-h2 text-3xl font-bold tracking-tight");
        });
    }
}
