@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IH3

<h3 @attributes="BuildAttributes()">@ChildContent</h3>

@code{
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAndStyleAttributes(attributes, (ref cls, ref sty) =>
        {
            AppendClass(ref cls, "q-h3 text-2xl font-semibold tracking-tight");
        });
    }
}
