@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IH3

<h3 @attributes="BuildAttributes()">@ChildContent</h3>

@code{
    [Parameter]
    public CssValue<DisplaySizeBuilder>? DisplaySize { get; set; }

    public override string? ThemeKey { get; set; } = "H3";
}
