@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IH4

<h4 @attributes="BuildAttributes()">@ChildContent</h4>

@code{
    [Parameter]
    public CssValue<DisplaySizeBuilder>? DisplaySize { get; set; }

    public override string? ThemeKey { get; set; } = "H4";
}
