@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IH4

<h4 @attributes="BuildTypographicAttributes()">@ChildContent</h4>

@code{
    public override string? ThemeKey { get; set; } = "H4";
}
