@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IH4

<h4 @attributes="BuildAttributes()">@ChildContent</h4>

@code{
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAndStyleAttributes(attributes, (ref cls, ref sty) =>
        {
            AppendClass(ref cls, "q-h4 text-xl font-semibold");
        });
    }
}
