@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IH5

<h5 @attributes="BuildAttributes()">@ChildContent</h5>

@code{
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAndStyleAttributes(attributes, (ref cls, ref sty) =>
        {
            AppendClass(ref cls, "q-h5 text-lg font-medium");
        });
    }
}
