@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IH5

<h5 @attributes="BuildAttributes()">@ChildContent</h5>

@code{
    [Parameter]
    public CssValue<DisplaySizeBuilder>? DisplaySize { get; set; }

    public override string? ThemeKey { get; set; } = "H5";
}
