@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IH5

<h5 @attributes="BuildTypographicAttributes()">@ChildContent</h5>

@code{
    public override string? ThemeKey { get; set; } = "H5";
}
