@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IH5

<h5 @attributes="BuildAttributes()">@ChildContent</h5>

@code{
    /// <summary>
    /// Gets or sets the display size for the heading.
    /// </summary>
    [Parameter]
    public CssValue<DisplaySizeBuilder>? DisplaySize { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        BuildClassAndStyleAttributes(attributes, (ref PooledStringBuilder cls, ref PooledStringBuilder sty) =>
        {
            AppendClass(ref cls, "q-h5");
            AddCss(ref sty, ref cls, DisplaySize);
        });

        return attributes;
    }
}
