@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IH6

<h6 @attributes="BuildTypographicAttributes()">@ChildContent</h6>

@code{
    public override string? ThemeKey { get; set; } = "H6";
}
