@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IH6

<h6 @attributes="BuildAttributes()">@ChildContent</h6>

@code{
    [Parameter]
    public CssValue<DisplaySizeBuilder>? DisplaySize { get; set; }

    public override string? ThemeKey { get; set; } = "H6";

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        BuildClassAndStyleAttributes(attributes, (ref PooledStringBuilder cls, ref PooledStringBuilder sty) =>
        {
            AddCss(ref sty, ref cls, DisplaySize);
        });

        return attributes;
    }
}
