@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IH6

<h6 @attributes="BuildAttributes()">@ChildContent</h6>

@code{
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAndStyleAttributes(attributes, (ref cls, ref sty) =>
        {
            AppendClass(ref cls, "q-h6 text-base font-medium");
        });
    }
}
