@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IItemGroup

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["role"] = "list";
        attributes["data-slot"] = "item-group";
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-item-group");
            AppendClass(ref cls, "group/item-group flex flex-col");
        });
    }
}
