@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IItemSeparator

<div @attributes="BuildAttributes()"></div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "item-separator";
        attributes["data-orientation"] = "horizontal";
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-item-separator");
            AppendClass(ref cls, "my-0 bg-border shrink-0 h-px w-full");
        });
    }
}
