@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IUnorderedListItem

<li @attributes="BuildAttributes()">
	@ChildContent
</li>

@code {
    public override string? ThemeKey { get; set; } = "UnorderedListItem";
}
