@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "prompt-input-header";
        Display ??= Quark.Display.Flex;
        Width ??= Quark.Width.IsFull;
        FlexDirection ??= Quark.FlexDirection.Col;
        Gap ??= Quark.Gap.Is2;
        Padding ??= Quark.Padding.OnX.Is2.FromTop.Is2;

    }
}
