@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<span @attributes="BuildAttributes()">
    <HoverCardTrigger AsChild="@AsChild">
        @ChildContent
    </HoverCardTrigger>
</span>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "prompt-input-hover-card-trigger";
    }

    [Parameter] public bool AsChild { get; set; }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(AsChild);
    }
}