@namespace Soenneker.Quark

<span data-slot="prompt-input-select-trigger">
    <SelectTrigger @attributes="Attributes">
        @ChildContent
    </SelectTrigger>
</span>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? Attributes { get; set; }
}
