@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement

<h3 @attributes="BuildAttributes()">@ChildContent</h3>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "prompt-input-tab-label";
        TextSize ??= Quark.TextSize.Sm;
        FontWeight ??= Quark.FontWeight.Medium;

    }
}