@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "prompt-input-tab-body";
        TextSize ??= Quark.TextSize.Sm;
        TextColor ??= Quark.TextColor.MutedForeground;

    }
}