@namespace Soenneker.Quark

<div data-slot="prompt-input-command" @attributes="Attributes">
    <Command>
        @ChildContent
    </Command>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? Attributes { get; set; }
}
