@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        Display ??= Quark.Display.Flex;
        FlexDirection ??= Quark.FlexDirection.Col;
        Gap ??= Quark.Gap.Is2;
        Rounded ??= Quark.Rounded.Md;
        Border ??= Quark.Border.Default;
        BorderColor ??= Quark.BorderColor.Border;
        Padding ??= Quark.Padding.Is3;

    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "prompt-input-tab";
    }
}
