@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "prompt-input-body";
        Display ??= Quark.Display.Flex;
        Width ??= Quark.Width.IsFull;
        FlexDirection ??= Quark.FlexDirection.Col;

    }
}