@namespace Soenneker.Quark

<div data-slot="prompt-input-command-list">
    <CommandList @attributes="Attributes">@ChildContent</CommandList>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? Attributes { get; set; }
}
