@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement

<h3 @attributes="BuildAttributes()">@ChildContent</h3>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        TextSize ??= Quark.TextSize.Sm;
        FontWeight ??= Quark.FontWeight.Medium;

    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "prompt-input-tab-label";
    }
}
