@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<PromptInputActionMenuItem Disabled="@Disabled" Clicked="@Clicked" @attributes="BuildAttributes()">
    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        <Icon Name="@IconName" />
        <span>@Label</span>
    }
</PromptInputActionMenuItem>

@code {
    [Parameter]
    public string Label { get; set; } = "Add screenshot";

    [Parameter]
    public LucideIcon IconName { get; set; } = LucideIcon.Camera;

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> Clicked { get; set; }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(Label);
        hc.Add(IconName);
        hc.Add(Disabled);
    }
}
