@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<span data-slot="prompt-input-select-trigger">
    <SelectTrigger @attributes="BuildAttributes()">
        @ChildContent
    </SelectTrigger>
</span>
