@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    <CascadingValue Value="@PromptInput" IsFixed="false">
        <Dropdown>
            @ChildContent
        </Dropdown>
    </CascadingValue>
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "prompt-input-action-menu";
    }

    [CascadingParameter]
    public PromptInput? PromptInput { get; set; }
}