@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div role="separator" @attributes="BuildAttributes()"></div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Margin ??= Quark.Margin.Is2.OnX;
        Height ??= Quark.Height.Token("px");
        Width ??= Quark.Width.Auto;
        BackgroundColor ??= Quark.BackgroundColor.Utility("bg-sidebar-border");
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "sidebar-separator";
        attributes["data-sidebar"] = "separator";
        attributes["aria-orientation"] = "horizontal";

        BuildClassAttribute(attributes, (ref cls) =>
        {
        });
    }
}
