@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div role="separator" @attributes="BuildAttributes()"></div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "sidebar-separator";

        Margin ??= Quark.Margin.OnX.Is2;
        Height ??= Quark.Height.IsPx;
        Width ??= Quark.Width.Auto;
        BackgroundColor ??= Quark.BackgroundColor.Utility("bg-sidebar-border");
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-sidebar"] = "separator";
        attributes["aria-orientation"] = "horizontal";
    }
}