@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<li @attributes="BuildAttributes()">
    @ChildContent
</li>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Position ??= Quark.Position.Relative;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "sidebar-menu-item";
        attributes["data-sidebar"] = "menu-item";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "group/menu-item");
        });
    }
}
