@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Position ??= Quark.Position.Relative;
        Display ??= Quark.Display.Flex;
        Width ??= Quark.Width.IsFull;
        MinWidth ??= Quark.MinWidth.Is0;
        Flex ??= Quark.Flex.Display.Column;
        Padding ??= Quark.Padding.Is2;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "sidebar-group";
        attributes["data-sidebar"] = "group";

        BuildClassAttribute(attributes, (ref cls) =>
        {
        });
    }
}
