@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IAsyncDisposable

<TooltipProvider DelayDuration="0">
    <CascadingValue Name="SidebarProvider" Value="this" IsFixed="true">
        <CascadingValue Name="SidebarContextState" Value="GetState()">
            <div @attributes="BuildAttributes()">
                @ChildContent
            </div>
        </CascadingValue>
    </CascadingValue>
</TooltipProvider>
