@inherits Soenneker.Quark.Element

<Div @attributes="BuildAttributes()" >
	@ChildContent
</Div>

@code {
	public override string? ThemeKey { get; set; } = "CardBody";

	protected override Dictionary<string, object> BuildAttributes()
	{
		Dictionary<string, object> attributes = base.BuildAttributes();
		const string classes = "card-body";

		AppendToClassAttr(attributes, classes);
		return attributes;
	}

}
