
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<Div @attributes="BuildAttributes()" >
	@ChildContent
</Div>

@code {
	public override string? ThemeKey { get; set; } = "CardFooter";

	protected override Dictionary<string, object> BuildAttributes()
	{
		Dictionary<string, object> attributes = base.BuildAttributes();
		const string classes = "card-footer";
		AppendToClassAttr(attributes, classes);
		return attributes;
	}

}
