
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<CascadingValue Value="@this" IsFixed="true">
    <Div @attributes="BuildAttributes()">
        @ChildContent
    </Div>
</CascadingValue>

@code {
	public override string? ThemeKey { get; set; } = "Card";

    protected override Dictionary<string, object> BuildAttributes()
    {
        Dictionary<string, object> attributes = base.BuildAttributes();
        const string classes = "card";

        AppendToClassAttr(attributes, classes);

        return attributes;
    }
}

