@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Flex ??= Quark.Flex.Display.Column;
        Gap ??= Quark.Gap.Is2;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "timeline-content";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-timeline-content");
            AppendClass(ref cls, "pl-2");
        });
    }
}
