@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<h3 @attributes="BuildAttributes()">
    @ChildContent
</h3>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "timeline-title";
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "text-sm font-medium");
        });
    }
}
