@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "timeline-content";

        Display ??= Quark.Display.Flex;
        FlexDirection ??= Quark.FlexDirection.Col;
        Gap ??= Quark.Gap.Is2;
        Padding ??= Quark.Padding.Is2.FromLeft;
    }
}