@namespace Soenneker.Quark

@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    [CascadingParameter]
    public Timeline? ParentTimeline { get; set; }

    [Parameter]
    [EditorRequired]
    public int Step { get; set; }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        if (Step <= (ParentTimeline?.ActiveStep ?? 1))
            attributes["data-completed"] = string.Empty;

        if (Step == ParentTimeline?.ActiveStep)
            attributes["aria-current"] = "step";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "group/timeline-item has-[+[data-completed]]:**:data-[slot=timeline-separator]:bg-primary relative flex flex-1 flex-col gap-0.5");
            AppendClass(ref cls, "group-data-[orientation=horizontal]/timeline:mt-8 group-data-[orientation=horizontal]/timeline:not-last:pe-8");
            AppendClass(ref cls, "group-data-[orientation=vertical]/timeline:ms-8 group-data-[orientation=vertical]/timeline:not-last:pb-6");
        });
    }

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "timeline-item";

        Position ??= Quark.Position.Relative;
        Width ??= Quark.Width.IsFull;
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(Step);
    }
}
