@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IFieldHelp

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected virtual bool ParentIsFieldBody => ParentFieldBody is not null;

    [CascadingParameter]
    protected FieldBody? ParentFieldBody { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-field-help");
            AppendClass(ref cls, "field-help");
            
            if (ParentIsFieldBody)
                AppendClass(ref cls, "field-help-in-body");
        });

        return attributes;
    }

}