@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IFieldHelp

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected virtual bool ParentIsFieldBody => ParentFieldBody is not null;

    [CascadingParameter(Name = nameof(ParentFieldBody))]
    protected FieldBody? ParentFieldBody { get; set; }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-field-help");
            AppendClass(ref cls, "field-help");
            
            if (ParentIsFieldBody)
                AppendClass(ref cls, "field-help-in-body");
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        hc.Add(ParentIsFieldBody);
    }
}