@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IField

<CascadingValue Value="@this" IsFixed>
    <div @attributes="BuildAttributes()">
        @ChildContent
    </div>
</CascadingValue>

@code {
    private bool _horizontal;
    private List<Component>? _childComponents;

    /// <summary>
    /// Gets or sets whether the field should be displayed horizontally.
    /// </summary>
    [Parameter]
    public bool Horizontal
    {
        get => _horizontal;
        set
        {
            _horizontal = value;
            _childComponents?.ForEach(x => StateHasChanged());
        }
    }

    /// <summary>
    /// Registers a child component.
    /// </summary>
    /// <param name="component">The child component to register.</param>
    internal void RegisterChild(Component component)
    {
        _childComponents ??= [];
        _childComponents.Add(component);
    }

    /// <summary>
    /// Unregisters a child component.
    /// </summary>
    /// <param name="component">The child component to unregister.</param>
    internal void UnregisterChild(Component component)
    {
        _childComponents?.Remove(component);
    }

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-field");
            AppendClass(ref cls, "form-group");
            AppendClass(ref cls, "q-form-group");
            
            if (_horizontal)
                AppendClass(ref cls, "row");
        });

        return attributes;
    }

}