
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ILayoutSiderContent

<div @attributes="BuildAttributes()" >
    @ChildContent
</div>

@code {
    // shadcn - new-york-v4
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        // Use standard Bootstrap classes for main content area
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-layout-sider-content");
            AppendClass(ref cls, "flex-1");
        });
    }

}
