@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ILayoutContainer

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        // Use standard Bootstrap classes for layout container
        // Add flex-column to stack header and content vertically
        // Add flex-grow-1 to fill remaining space in the parent flex container
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-layout-container");
            AppendClass(ref cls, "d-flex");
            AppendClass(ref cls, "flex-column");
            AppendClass(ref cls, "flex-grow-1");
        });

        BuildStyleAttribute(attributes, (ref sty) => AppendStyleDecl(ref sty, "min-width: 0")); // Prevent flex item from overflowing
    }

}