
@inherits Soenneker.Quark.Element

<main @attributes="BuildAttributes()">
	@ChildContent
</main>

@code {
    public override string? ThemeKey { get; set; } = "LayoutContent";

	protected override Dictionary<string, object> BuildAttributes()
	{
		Dictionary<string, object> attributes = base.BuildAttributes();
    		AppendToClassAttr(attributes, "flex-grow-1");
		return attributes;
	}
}
