@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ILayoutContainer

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    public override string? ThemeKey { get; set; } = "LayoutContainer";

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        
        // Use standard Bootstrap classes for layout container
        AppendToClassAttr(attributes, "d-flex");
        
        return attributes;
    }
}
