
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<Div @attributes="BuildAttributes()" >
    @ChildContent
</Div>

@code {
    public override string? ThemeKey { get; set; } = "LayoutSiderContent";

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        
        // Use standard Bootstrap classes for main content area
        AppendToClassAttr(attributes, "flex-grow-1");
        
        return attributes;
    }

}