@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ILayoutContent

<main @attributes="BuildAttributes()">
    @ChildContent
</main>

@code {
    public override string? ThemeKey { get; set; } = "LayoutContent";

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) => AppendClass(ref cls, "flex-grow-1"));
        return attributes;
    }

}