
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ILayoutSiderContent

<div @attributes="BuildAttributes()" >
    @ChildContent
</div>

@code {
    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        
        // Use standard Bootstrap classes for main content area
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) =>
        {
            AppendClass(ref cls, "q-layout-sider-content");
            AppendClass(ref cls, "flex-grow-1");
        });
        
        return attributes;
    }

}
