@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IOverlayContainer

@inject IOffcanvasCoordinator OffcanvasCoordinator
@inject IOffcanvasInterop OffcanvasInterop

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        OffcanvasCoordinator.StateChanged += HandleChanged;
        await OffcanvasInterop.Initialize();
        await base.OnInitializedAsync();
    }

    private void HandleChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) =>
        {
            AppendClass(ref cls, "q-overlay-container");
            
            if (OffcanvasCoordinator.ActiveCount > 0)
            {
                AppendClass(ref cls, "offcanvas-open");
                AppendClass(ref cls, "q-offcanvas-open");
            }
        });
        
        return attributes;
    }

    public override ValueTask DisposeAsync()
    {
        OffcanvasCoordinator.StateChanged -= HandleChanged;
        return base.DisposeAsync();
    }

}