@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements INav

<nav @attributes="BuildAttributes()">
    @ChildContent
</nav>

@code {
	public override string? ThemeKey { get; set; } = "Nav";

    [Parameter]
    public CssValue<NavStyleBuilder>? NavStyle { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
	{
		var attributes = base.BuildAttributes();
		
        if (NavStyle is not null && !NavStyle.Value.IsEmpty)
        {
            var navClass = NavStyle.Value.ToString();
            if (navClass.HasContent())
            {
				BuildClassAttribute(attributes, (ref PooledStringBuilder cls) => AppendClass(ref cls, navClass));
            }
        }

		return attributes;
	}
}