@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements INav

<nav @attributes="BuildAttributes()">
    @ChildContent
</nav>

@code {
    // shadcn navigation - new-york-v4 (nav/sidebar)
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
	{
        base.BuildAttributesCore(attributes);
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-nav");
        });
	}
}