@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements INav

<nav @attributes="BuildAttributes()">
    @ChildContent
</nav>

@code {
    /// <summary>
    /// Gets or sets the navigation style.
    /// </summary>
    [Parameter]
    public CssValue<NavStyleBuilder>? NavStyle { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
	{
		var attributes = base.BuildAttributes();
		
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) =>
        {
            AppendClass(ref cls, "q-nav");
            if (NavStyle is not null && !NavStyle.Value.IsEmpty)
            {
                var navClass = NavStyle.Value.ToString();
                if (navClass.HasContent())
                {
                    AppendClass(ref cls, navClass);
                }
            }
        });

		return attributes;
	}
}