<Bar Mode="BarMode.VerticalInline"
     CollapseMode="BarCollapseMode.Small"
     Breakpoint="BreakpointType.Desktop"
     NavigationBreakpoint="BreakpointType.Tablet">
    <Div class="d-flex align-items-center w-100" style="gap: .5rem;">
        <BarToggler>
            <BarIcon Name="bars" />
        </BarToggler>
        <BarBrand>
        <BarItem>
            <BarLink To="#">
                <BarIcon Name="cube"/>
                Quark Suite
            </BarLink>
        </BarItem>
        </BarBrand>
    </Div>

    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="/">
                    <BarIcon Name="home"/>
                    Home
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/installation">
                    <BarIcon Name="download"/>
                    Installation
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/quickstart">
                    <BarIcon Name="rocket"/>
                    Quick Start
                </BarLink>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        <BarIcon Name="wrench"/>
                        UI Elements
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="/buttons">Buttons</BarDropdownItem>
                        <BarDropdownItem To="/alerts">Alerts</BarDropdownItem>
                        <BarDropdownItem To="/badges">Badges</BarDropdownItem>
                        <BarDropdownItem To="/breadcrumbs">Breadcrumbs</BarDropdownItem>
                        <BarDropdownItem To="/cards">Cards</BarDropdownItem>
                        <BarDropdownItem To="/dropdowns">Dropdowns</BarDropdownItem>
                        <BarDropdownItem To="/icons">Icons</BarDropdownItem>
                        <BarDropdownItem To="/listgroups">List group</BarDropdownItem>
                        <BarDropdownItem To="/modals">Modals</BarDropdownItem>
                        <BarDropdownItem To="/paginations">Paginations</BarDropdownItem>
                        <BarDropdownItem To="/progresses">Progress bars</BarDropdownItem>
                        <BarDropdownItem To="/tables">Tables</BarDropdownItem>
                        <BarDropdownItem To="/tabs">Tabs</BarDropdownItem>
                        <BarDropdownItem To="/typography">Typography</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle TargetId="forms-collapse">
                        <BarIcon Name="edit"/>
                        Forms
                    </BarDropdownToggle>
                    <BarDropdownMenu Id="forms-collapse">
                        <BarDropdownItem To="/textedits">Text Edits</BarDropdownItem>
                        <BarDropdownItem To="/memoedits">Memo Edits</BarDropdownItem>
                        <BarDropdownItem To="/dateedits">Date Edits</BarDropdownItem>
                        <BarDropdownItem To="/checks">Checks</BarDropdownItem>
                        <BarDropdownItem To="/radios">Radios</BarDropdownItem>
                        <BarDropdownItem To="/switches">Switches</BarDropdownItem>
                        <BarDropdownItem To="/sliders">Sliders</BarDropdownItem>
                        <BarDropdownItem To="/dropdowns">Dropdowns</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle TargetId="layout-collapse">
                        <BarIcon Name="th"/>
                        Layout
                    </BarDropdownToggle>
                    <BarDropdownMenu Id="layout-collapse">
                        <BarDropdownItem To="/layouts">Layouts</BarDropdownItem>
                        <BarDropdownItem To="/layout-demo">Layout Demo</BarDropdownItem>
                        <BarDropdownItem To="/containers">Containers</BarDropdownItem>
                        <BarDropdownItem To="/columns">Columns</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle TargetId="utilities-collapse">
                        <BarIcon Name="flask"/>
                        Utilities
                    </BarDropdownToggle>
                    <BarDropdownMenu Id="utilities-collapse">
                        <BarDropdownItem To="/borders">Borders</BarDropdownItem>
                        <BarDropdownItem To="/flex">Flex</BarDropdownItem>
                        <BarDropdownItem To="/grid">Grid</BarDropdownItem>
                        <BarDropdownItem To="/layout-demo">Layout</BarDropdownItem>
                        <BarDropdownItem To="/position">Position</BarDropdownItem>
                        <BarDropdownItem To="/shadows">Shadows</BarDropdownItem>
                        <BarDropdownItem To="/sizing">Sizing</BarDropdownItem>
                        <BarDropdownItem To="/vertical-align">Vertical align</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle TargetId="apps-collapse">
                        <BarIcon Name="mobile"/>
                        Apps
                    </BarDropdownToggle>
                    <BarDropdownMenu Id="apps-collapse">
                        <BarDropdownItem To="/todo">
                            Todo
                        </BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

@code {
    // Dropdown states are now managed internally by the components
}
