<Bar Mode="BarMode.VerticalInline"
    CollapseMode="BarCollapseMode.Small"
    Breakpoint="BreakpointType.Desktop"
    NavigationBreakpoint="BreakpointType.Tablet"
    Class="sidebar">
    <Div class="d-flex align-items-center w-100" style="gap: .5rem; padding: 0.5rem 0;">
        <BarToggler>
            <BarIcon Name="bars"/>
        </BarToggler>
        <BarBrand>
            <BarItem>
                <BarLink To="./" Class="navbar-brand">
                    <Image Source="https://user-images.githubusercontent.com/4441470/224455560-91ed3ee7-f510-4041-a8d2-3fc093025112.png" Alt="Quark Suite" Style="height: 1.5rem; margin-right: 0.5rem;" />
                    <span style="font-size: 1.1rem; font-weight: 600;">Quark Suite</span>
                </BarLink>
            </BarItem>
        </BarBrand>
    </Div>

    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="">
                    <BarIcon Name="home"/>
                    Home
                </BarLink>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        <BarIcon Name="wrench"/>
                        Components
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="buttons">Buttons</BarDropdownItem>
                        <BarDropdownItem To="alerts">Alerts</BarDropdownItem>
                        <BarDropdownItem To="badges">Badges</BarDropdownItem>
                        <BarDropdownItem To="breadcrumbs">Breadcrumbs</BarDropdownItem>
                        <BarDropdownItem To="cards">Cards</BarDropdownItem>
                        <BarDropdownItem To="dropdowns">Dropdowns</BarDropdownItem>
                        <BarDropdownItem To="icons">Icons</BarDropdownItem>
                        <BarDropdownItem To="listgroups">List group</BarDropdownItem>
                        <BarDropdownItem To="modals">Modals</BarDropdownItem>
                        <BarDropdownItem To="offcanvas">Offcanvas</BarDropdownItem>
                        <BarDropdownItem To="paginations">Paginations</BarDropdownItem>
                        <BarDropdownItem To="progresses">Progress bars</BarDropdownItem>
                        <BarDropdownItem To="tabs">Tabs</BarDropdownItem>
                        <BarDropdownItem To="treeview">TreeView</BarDropdownItem>
                        <BarDropdownItem To="typography">Typography</BarDropdownItem>
                        <BarDropdownItem To="br-demo">Br (Line Break)</BarDropdownItem>
                        <BarDropdownItem To="hr-demo">Hr (Horizontal Rule)</BarDropdownItem>
                        <BarDropdownItem To="paragraph-demo">Paragraph</BarDropdownItem>
                        <BarDropdownItem To="section-demo">Section</BarDropdownItem>
                        <BarDropdownItem To="small-demo">Small</BarDropdownItem>
                        <BarDropdownItem To="span-demo">Span</BarDropdownItem>
                        <BarDropdownItem To="strong-demo">Strong</BarDropdownItem>
                        <BarDropdownItem To="unorderedlists">Unordered Lists</BarDropdownItem>
                        <BarDropdownItem To="orderedlists">Ordered Lists</BarDropdownItem>
                        <BarDropdownItem To="snackbars">Snackbars</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        <BarIcon Name="edit"/>
                        Forms
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="textedits">TextEdits</BarDropdownItem>
                        <BarDropdownItem To="memoedits">MemoEdits</BarDropdownItem>
                        <BarDropdownItem To="dateedits">DateEdits</BarDropdownItem>
                        <BarDropdownItem To="datepickers">DatePickers</BarDropdownItem>
                        <BarDropdownItem To="checks">Checks</BarDropdownItem>
                        <BarDropdownItem To="radios">Radios</BarDropdownItem>
                        <BarDropdownItem To="switches">Switches</BarDropdownItem>
                        <BarDropdownItem To="sliders">Sliders</BarDropdownItem>
                        <BarDropdownItem To="dropdowns">Dropdowns</BarDropdownItem>
                        <BarDropdownItem To="input-demo">Input</BarDropdownItem>
                        <BarDropdownItem To="numericedit-demo">NumericEdit</BarDropdownItem>
                        <BarDropdownItem To="validation-demo">Validation</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        <BarIcon Name="th"/>
                        Layout
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="layouts">Layouts</BarDropdownItem>
                        <BarDropdownItem To="containers">Containers</BarDropdownItem>
                        <BarDropdownItem To="columns">Columns</BarDropdownItem>
                        <BarDropdownItem To="stepsdemo">Steps</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        <BarIcon Name="table"/>
                        Tables
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="tables/basic">Basic Demo</BarDropdownItem>
                        <BarDropdownItem To="tables/loading-demo">Loading Demo</BarDropdownItem>
                        <BarDropdownItem To="tables/modern-demo">Modern Demo</BarDropdownItem>
                        <BarDropdownItem To="tables/bar-layout-demo">Bar Layout Demo</BarDropdownItem>
                        <BarDropdownItem To="tables/topbar">TopBar Demo</BarDropdownItem>
                        <BarDropdownItem To="tables/paged-result-demo">PagedResult Demo</BarDropdownItem>
                        <BarDropdownItem To="tables/request-data-options-demo">RequestDataOptions Demo</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
@*             <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        <BarIcon Name="flask"/>
                        Utilities
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="borders">Borders</BarDropdownItem>
                        <BarDropdownItem To="flex">Flex</BarDropdownItem>
                        <BarDropdownItem To="grid">Grid</BarDropdownItem>
                        <BarDropdownItem To="layout-demo">Layout</BarDropdownItem>
                        <BarDropdownItem To="position">Position</BarDropdownItem>
                        <BarDropdownItem To="shadows">Shadows</BarDropdownItem>
                        <BarDropdownItem To="sizing">Sizing</BarDropdownItem>
                        <BarDropdownItem To="vertical-align">Vertical align</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem> *@
        </BarStart>
    </BarMenu>
</Bar>


@code {
    // Dropdown states are now managed internally by the components
}