@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()"></div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "command-separator";

        Margin ??= Quark.Margin.OnX.Negative1;
        Height ??= Quark.Height.IsPx;
        BackgroundColor ??= Quark.BackgroundColor.Border;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["role"] = "separator";
    }
}