@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement

<span @attributes="BuildAttributes()">@ChildContent</span>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Margin ??= Quark.Margin.Auto.FromLeft;
        TextSize ??= Quark.TextSize.Xs;
        TextColor ??= Quark.TextColor.MutedForeground;
        Tracking ??= Quark.Tracking.Widest;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "command-shortcut";

        BuildClassAttribute(attributes, (ref cls) =>
        {
        });
    }
}
