@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()"></div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Margin ??= Quark.Margin.Token("-1").OnX;
        Height ??= Quark.Height.Token("px");
        BackgroundColor ??= Quark.BackgroundColor.Token("border");
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "command-separator";
    }
}
