@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        TextSize ??= Quark.TextSize.Xs;
        TextColor ??= Quark.TextColor.MutedForeground;
        Truncate ??= Quark.Truncate.Default;

        base.ApplyDefaultParameters();
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "attachment-description";

    }
}
