@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "feedback-bar-content";

        Display ??= Quark.Display.Flex;
        Width ??= Quark.Width.IsFull;
        ItemsAlign ??= Quark.Items.Center;
        Justify ??= Quark.Justify.Between;
    }
}
