@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement

<span @attributes="BuildAttributes()">@ChildContent</span>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "feedback-bar-label";

        TextSize ??= Quark.TextSize.Sm;
        FontWeight ??= "font-[350]";
        TextColor ??= Quark.TextColor.Foreground;
    }
}
