@namespace Soenneker.Quark
@using Soenneker.Quark.Enums

@inherits Soenneker.Quark.Element

<Div Class="progress" @attributes="BuildAttributes()">
    @ChildContent
</Div>

@code {
	public override string? ThemeKey { get; set; } = "Progress";

    [Parameter]
    public CssValue<ColorBuilder> Color { get; set; } = Quark.Color.Primary;

    [Parameter]
    public CssValue<SizeBuilder>? Size { get; set; } = Quark.Size.Default;

    [Parameter]
    public bool Striped { get; set; }

    [Parameter]
    public bool Animated { get; set; }

    private string? GetSizeClass()
    {
        if (Size?.ToString() == "size-sm")
            return "progress-sm";

        if (Size?.ToString() == "size-lg")
            return "progress-lg";
        return null;
    }

    protected override Dictionary<string, object> BuildAttributes()
    {
        Dictionary<string, object> attributes = base.BuildAttributes();

        var baseClasses = "progress";
        string? sizeClass = GetSizeClass();

        if (sizeClass != null)
            baseClasses = $"{baseClasses} {sizeClass}";

        AppendToClassAttr(attributes, baseClasses);

        return attributes;
    }
}
