@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Position ??= Quark.Position.Relative;
        Display ??= Quark.Display.Flex;
        BoxSize ??= Quark.Size.Is8;
        Rounded ??= Quark.Rounded.Full;
        BackgroundColor ??= Quark.BackgroundColor.Muted;
        TextColor ??= Quark.TextColor.MutedForeground;
        TextSize ??= Quark.TextSize.Sm;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "avatar-group-count";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-avatar-group-count");
            AppendClass(ref cls, "shrink-0 items-center justify-center ring-2 ring-background group-has-data-[size=lg]/avatar-group:size-10 group-has-data-[size=sm]/avatar-group:size-6 [&>svg]:size-4 group-has-data-[size=lg]/avatar-group:[&>svg]:size-5 group-has-data-[size=sm]/avatar-group:[&>svg]:size-3");
        });
    }
}
