@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

@if (ParentAvatar?.ShowFallback ?? true)
{
    <div @attributes="BuildAttributes()">
        @ChildContent
    </div>
}

@code {
    [CascadingParameter(Name = nameof(ParentAvatar))]
    protected Avatar? ParentAvatar { get; set; }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "avatar-fallback";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-avatar-fallback");
            AppendClass(ref cls, "absolute inset-0 bg-muted text-muted-foreground flex size-full items-center justify-center rounded-full text-sm group-data-[size=sm]/avatar:text-xs");
        });
    }
}
