@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<span @attributes="BuildAttributes()">
    @ChildContent
</span>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        Position ??= Quark.Position.Absolute;
        Display ??= Quark.Display.InlineFlex;
        Rounded ??= Quark.Rounded.Full;
        BackgroundColor ??= Quark.BackgroundColor.Primary;
        TextColor ??= Quark.TextColor.PrimaryForeground;
        ItemsAlign ??= Items.Center;
        Justify ??= Quark.Justify.Center;
        Ring ??= Quark.Ring.Two;
        RingColor ??= Quark.RingColor.Background;
        UserSelect ??= Quark.UserSelect.None;

    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "avatar-badge";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "right-0 bottom-0 z-10 bg-blend-color");
            AppendClass(ref cls, "group-data-[size=sm]/avatar:size-2 group-data-[size=sm]/avatar:[&>svg]:hidden");
            AppendClass(ref cls, "group-data-[size=default]/avatar:size-2.5 group-data-[size=default]/avatar:[&>svg]:size-2");
            AppendClass(ref cls, "group-data-[size=lg]/avatar:size-3 group-data-[size=lg]/avatar:[&>svg]:size-2");
        });

        AppendToClassAttr(attributes, "bg-blend-color");
    }
}
