@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IH1

<h1 @attributes="BuildAttributes()">
    @ChildContent
</h1>

@code{
    public override string? ThemeKey { get; set; } = "H1";
}