
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IH2

<h2 @attributes="BuildAttributes()">
    @ChildContent
</h2>

@code {
    public override string? ThemeKey { get; set; } = "H2";
}
