@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IH3

<h3 @attributes="BuildAttributes()">
    @ChildContent
</h3>

@code {
    public override string? ThemeKey { get; set; } = "H3";
}