
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IH5

<h5 @attributes="BuildAttributes()">
	@ChildContent
</h5>

@code {
    public override string? ThemeKey { get; set; } = "H5";
}
