@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IH6

<h6 @attributes="BuildAttributes()">
    @ChildContent
</h6>

@code {
    public override string? ThemeKey { get; set; } = "H6";
}