@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICardAction

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "card-action";
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-card-action");
            AppendClass(ref cls, "col-start-2 row-span-2 row-start-1 self-start justify-self-end");
        });
    }
}
