@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICard

<CascadingValue Value="@this" IsFixed="true">
    <div @attributes="BuildAttributes()">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter]
    public CardSize Size { get; set; } = CardSize.Default;

    public override CssValue<BoxShadowBuilder>? BoxShadow { get; set; } = Quark.BoxShadow.Sm;

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Flex ??= "flex flex-col";
        Gap ??= Quark.Gap.Token("6");
        Rounded ??= Quark.Rounded.Xl;
        Border ??= Quark.Border.Default;
        BackgroundColor ??= Quark.BackgroundColor.Card;
        TextColor ??= Quark.TextColor.CardForeground;
        Padding ??= Quark.Padding.Is6.OnY;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "card";
        attributes["data-size"] = Size.Value;

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "group/card overflow-hidden text-sm ring-1 ring-foreground/10");
            AppendClass(ref cls, "has-data-[slot=card-footer]:pb-0 has-[>img:first-child]:pt-0");
            AppendClass(ref cls, "data-[size=sm]:gap-3 data-[size=sm]:py-3 data-[size=sm]:has-data-[slot=card-footer]:pb-0");
            AppendClass(ref cls, "*:[img:first-child]:rounded-t-xl *:[img:last-child]:rounded-b-xl");
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(Size.Value);
    }
}
