@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements ICardDescription

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        TextSize ??= Quark.TextSize.Sm;
        TextColor ??= Quark.TextColor.MutedForeground;

        base.ApplyDefaultParameters();
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "card-description";
    }
}
