@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements ICardTitle

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Leading ??= Quark.Leading.None;
        FontWeight ??= Quark.FontWeight.Semibold;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "card-title";
        BuildClassAttribute(attributes, (ref cls) =>
        {
        });
    }
}
