@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICardFooter

<div @attributes="BuildAttributes()" >
	@ChildContent
</div>

@code {
	protected override void BuildAttributesCore(Dictionary<string, object> attributes)
	{
		base.BuildAttributesCore(attributes);
		attributes["data-slot"] = "card-footer";
		BuildClassAttribute(attributes, (ref cls) =>
		{
			AppendClass(ref cls, "q-card-footer");
			AppendClass(ref cls, "flex items-center rounded-b-xl border-t bg-muted/50 p-4 group-data-[size=sm]/card:p-3");
		});
	}
}
