@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICardBody

<div @attributes="BuildAttributes()" >
	@ChildContent
</div>

@code {
	protected override void ApplyDefaultParameters()
	{
		base.ApplyDefaultParameters();

		Padding ??= Quark.Padding.Is4.OnX;
	}

	protected override void BuildAttributesCore(Dictionary<string, object> attributes)
	{
		base.BuildAttributesCore(attributes);
		attributes["data-slot"] = "card-content";
		BuildClassAttribute(attributes, (ref cls) =>
		{
			AppendClass(ref cls, "q-cardbody");
			AppendClass(ref cls, "group-data-[size=sm]/card:px-3");
		});
	}
}
