@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICardFooter

<div @attributes="BuildAttributes()">
	@ChildContent
</div>

@code {
	protected override void ApplyDefaultParameters()
	{
		Display ??= Quark.Display.Flex;
		ItemsAlign ??= Quark.Items.Center;
		BackgroundColor ??= Quark.BackgroundColor.Utility("bg-muted/50");
		Padding ??= Quark.Padding.Is4;
		Rounded ??= Quark.Rounded.Bottom.Xl;
		Border ??= Quark.Border.Is1.FromTop;

		base.ApplyDefaultParameters();
	}

	protected override void BuildAttributesCore(Dictionary<string, object> attributes)
	{
		base.BuildAttributesCore(attributes);
		attributes["data-slot"] = "card-footer";
		BuildClassAttribute(attributes, (ref cls) =>
		{
			AppendClass(ref cls, "group-data-[size=sm]/card:p-3");
		});
	}
}
