@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Padding ??= Quark.Padding.Is6.OnX;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "card-content";
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-card-content");
        });
    }
}
