@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICardAction

<Div Attributes="@BuildAttributes()">
    @ChildContent
</Div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "card-action";

        ColStart ??= Quark.ColStart.At(2);
        RowSpan ??= Quark.RowSpan.Is2;
        RowStart ??= Quark.RowStart.At(1);
        SelfAlign ??= Self.Start;
        JustifySelfAlign ??= Quark.JustifySelfAlign.End;
    }
}