@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICard

<CascadingValue Value="@this" IsFixed="true">
    <div @attributes="BuildAttributes()">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter]
    public CardSize Size { get; set; } = CardSize.Default;

    public override CssValue<ShadowBuilder>? Shadow { get; set; }

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        Display ??= Quark.Display.Flex;
        FlexDirection ??= Quark.FlexDirection.Col;
        TextColor ??= Quark.TextColor.CardForeground;
        BackgroundColor ??= Quark.BackgroundColor.Card;
        Padding ??= Quark.Padding.Is6.OnY;
        Rounded ??= Quark.Rounded.Xl;
        Border ??= Quark.Border.Default;
        Shadow ??= Quark.Shadow.Sm;
        Gap ??= Quark.Gap.Token("6");

    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "card";
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(Size.Value);
    }
}
