@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICard

<CascadingValue Value="@this" IsFixed="true">
    <div @attributes="BuildAttributes()">
        @ChildContent
    </div>
</CascadingValue>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "card";
        attributes["data-size"] = "sm";
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-card");
            AppendClass(ref cls, "group/card flex flex-col gap-4 overflow-hidden rounded-xl bg-card py-4 text-sm text-card-foreground ring-1 ring-foreground/10");
            AppendClass(ref cls, "data-[size=sm]:gap-3 data-[size=sm]:py-3");
        });
    }
}
