@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICardFooter

<Div Attributes="@BuildAttributes()">
	@ChildContent
</Div>

@code {
	protected override void ApplyDefaultParameters()
	{
		base.ApplyDefaultParameters();
		DataSlot ??= "card-footer";
		Display ??= Quark.Display.Flex;
		ItemsAlign ??= Items.Center;
		Rounded ??= Quark.Rounded.Bottom.Xl;
		Border ??= Quark.Border.Is1.FromTop;
		BackgroundColor ??= Quark.BackgroundColor.Token("muted/50");
		Padding ??= Quark.Padding.Is4;
	}

	protected override void BuildAttributesCore(Dictionary<string, object> attributes)
	{
		base.BuildAttributesCore(attributes);

		BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "group-data-[size=sm]/card:p-3");
        });
	}
}