@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICard

<CascadingValue Value="@this" IsFixed="true">
    <div @attributes="BuildAttributes()">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter]
    public CardSize Size { get; set; } = CardSize.Default;

    public override CssValue<BoxShadowBuilder>? BoxShadow { get; set; }

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "card";
        attributes["data-size"] = Size?.Value ?? CardSize.Default.Value;

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "group/card flex flex-col gap-4 overflow-hidden rounded-xl bg-card py-4 text-sm text-card-foreground ring-1 ring-foreground/10");
            AppendClass(ref cls, "has-data-[slot=card-footer]:pb-0 has-[>img:first-child]:pt-0 data-[size=sm]:gap-3 data-[size=sm]:py-3 data-[size=sm]:has-data-[slot=card-footer]:pb-0");
            AppendClass(ref cls, "*:[img:first-child]:rounded-t-xl *:[img:last-child]:rounded-b-xl");
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(Size.Value);
    }
}
