@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICard

<CascadingValue Value="@this" IsFixed="true">
    <div @attributes="BuildAttributes()">
        @ChildContent
    </div>
</CascadingValue>

@code {
    public override CssValue<BoxShadowBuilder>? BoxShadow { get; set; } = Quark.BoxShadow.Sm;

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Flex ??= Quark.Flex.Display.Column;
        Gap ??= Quark.Gap.Token("6");
        Rounded ??= Quark.Rounded.Xl;
        Border ??= Quark.Border.Is1;
        BackgroundColor ??= Quark.BackgroundColor.Card;
        TextColor ??= Quark.TextColor.CardForeground;
        Padding ??= Quark.Padding.Is6.OnY;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "card";
    }
}
