@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements ICardSubtitle

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "card-subtitle";
        TextSize ??= Quark.TextSize.Sm;
        TextColor ??= Quark.TextColor.MutedForeground;

    }
}