@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ICardFooter

<div @attributes="BuildAttributes()" >
	@ChildContent
</div>

@code {
	protected override void ApplyDefaultParameters()
	{
		base.ApplyDefaultParameters();

		Display ??= Quark.Display.Flex;
		Padding ??= Quark.Padding.Is6.OnX;
		ItemsAlign ??= Quark.Items.Center;
	}

	protected override void BuildAttributesCore(Dictionary<string, object> attributes)
	{
		base.BuildAttributesCore(attributes);
		attributes["data-slot"] = "card-footer";
		BuildClassAttribute(attributes, (ref cls) =>
		{
			AppendClass(ref cls, "[.border-t]:pt-6");
		});
	}
}
