@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "card-content";
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "px-4 group-data-[size=sm]/card:px-3");
        });
    }
}
