@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<Div Attributes="@BuildAttributes()"></Div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "tree-drag-line";
        Position ??= Quark.Position.Absolute;
        Height ??= Quark.Height.Is0_5;
        Width ??= Quark.Width.Token("[unset]");
        BackgroundColor ??= Quark.BackgroundColor.Primary;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "z-30 -mt-px before:bg-background before:border-primary before:absolute before:-top-[3px] before:left-0 before:size-2 before:rounded-full before:border-2");
        });
    }
}
