@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<CascadingValue Name="ParentTree" Value="@this" IsFixed="true">
    <Div Attributes="@BuildAttributes()">
        @ChildContent
    </Div>
</CascadingValue>

@code {
    [Parameter]
    public int Indent { get; set; } = 20;

    [Parameter]
    public TreeToggleIconType ToggleIconType { get; set; } = TreeToggleIconType.Chevron;

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "tree";
        Display ??= Quark.Display.Flex;
        FlexDirection ??= Quark.FlexDirection.Col;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["role"] = "tree";
        attributes["aria-label"] = AriaLabel ?? "Tree";

        BuildStyleAttribute(attributes, (ref sty) =>
        {
            AppendStyleDecl(ref sty, $"--tree-indent:{Indent}px");
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(Indent);
        hc.Add(ToggleIconType);
    }
}
