@namespace Soenneker.Quark
@inject IThemeProvider ThemeProvider

@if (_bootstrapCss.HasContent())
{
    <style>
        @_bootstrapCss
    </style>
}

@if (_componentsCss.HasContent())
{
    <style>
        @_componentsCss
    </style>
}

@if (ChildContent != null)
{
    <div @attributes="AdditionalAttributes">
        @ChildContent
    </div>
}

@code {
    private string? _bootstrapCss;

    private string? _componentsCss;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    protected override void OnParametersSet()
    {
        _bootstrapCss = ThemeProvider.GenerateBootstrapCss();

        _componentsCss = ThemeProvider.GenerateComponentsCss();
    }

}