@using Soenneker.Extensions.String

@namespace Soenneker.Quark
@inject IThemeProvider ThemeProvider

@if (_bootstrapOverrides.HasContent())
{
    <style>
        @_bootstrapOverrides
    </style>
}

@if (ChildContent != null)
{
    <div @attributes="AdditionalAttributes">
        @ChildContent
    </div>
}

@code {
    private string? _bootstrapOverrides;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    protected override void OnParametersSet()
    {
        try
        {
            _bootstrapOverrides = ThemeProvider.GenerateRootCss();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error generating Bootstrap variable overrides: {ex.Message}");
            _bootstrapOverrides = null;
        }
    }
}
