@namespace Soenneker.Quark
@inherits Element

<div class="relative w-full overflow-x-auto">
    <table @attributes="BuildAttributes()">
        @ChildContent
    </table>
</div>

@code {
	protected override void BuildAttributesCore(Dictionary<string, object> attributes)
	{
		BuildClassAttribute(attributes, (ref cls) =>
		{
			AppendClass(ref cls, "q-table");
			// shadcn Table - new-york-v4 ui/table.tsx
			AppendClass(ref cls, "w-full caption-bottom text-sm");
		});
	}
} 
