@namespace Soenneker.Quark
@inherits Element

@if (ShowInfo)
{
    <div @attributes="BuildAttributes()">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            <Span>@StartRecord-@EndRecord of @TotalRecords</Span>
        }
    </div>
}

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-table-info");
        });
    }

    [CascadingParameter(Name = nameof(Table))]
    private ITable? Table { get; set; }

    [Parameter]
    public bool ShowInfo { get; set; } = true;

    [Parameter]
    public int CurrentPage { get; set; } = 1;

    [Parameter]
    public int TotalRecords { get; set; }

    [Parameter]
    public int PageSize { get; set; } = 10;

    // Computed properties that use Table values when available
    private int ComputedCurrentPage => Table?.CurrentPage ?? CurrentPage;
    private int ComputedTotalRecords => Table?.TotalRecordsCount ?? TotalRecords;
    private int ComputedPageSize => Table?.PageSize ?? PageSize;

    private int StartRecord => (ComputedCurrentPage - 1) * ComputedPageSize + 1;
    private int EndRecord => Math.Min(ComputedCurrentPage * ComputedPageSize, ComputedTotalRecords);

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        hc.Add(ShowInfo);
        hc.Add(CurrentPage);
        hc.Add(TotalRecords);
        hc.Add(PageSize);
        hc.Add(ComputedCurrentPage);
        hc.Add(ComputedTotalRecords);
        hc.Add(ComputedPageSize);
    }
}