
@namespace Soenneker.Quark
@inherits Element

<table @attributes="BuildAttributes()">
    @ChildContent
</table>

@code {
	public override string? ThemeKey { get; set; } = "TableElement";

	protected override Dictionary<string, object> BuildAttributes()
	{
		var attributes = base.BuildAttributes();
		BuildClassAttribute(attributes, (ref PooledStringBuilder cls) =>
		{
			AppendClass(ref cls, "quark-table");
			AppendClass(ref cls, "quark-table-element");
		});
		return attributes;
	}
} 
