
@namespace Soenneker.Quark
@inherits Element

<table @attributes="BuildAttributes()">
    @ChildContent
</table>

@code {
	protected override void BuildAttributesCore(Dictionary<string, object> attributes)
	{
		BuildClassAttribute(attributes, (ref cls) =>
		{
			AppendClass(ref cls, "q-table");
		});
	}
} 
