
@namespace Soenneker.Quark
@inherits Element

<table @attributes="BuildAttributes()">
    @ChildContent
</table>

@code {
	protected override void BuildAttributesCore(Dictionary<string, object> attributes)
	{
		attributes.TryAdd("data-slot", "table");
		BuildClassAttribute(attributes, (ref cls) =>
		{
			AppendClass(ref cls, "q-table");
			// shadcn Table - new-york-v4 ui/table.tsx
			AppendClass(ref cls, "w-full caption-bottom text-sm");
		});
	}
} 
