@namespace Soenneker.Quark
@inherits Element

<td colspan="@Colspan" @attributes="BuildAttributes()">
    @ChildContent
</td>

@code {
    /// <summary>
    /// Gets or sets the colspan attribute value.
    /// </summary>
    [Parameter]
    public int Colspan { get; set; } = 1;

	protected override Dictionary<string, object> BuildAttributes()
	{
		var attributes = base.BuildAttributes();
		BuildClassAttribute(attributes, (ref PooledStringBuilder cls) =>
		{
			AppendClass(ref cls, "q-table-td");
		});
		return attributes;
	}
} 
