@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IGrid

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    [Parameter]
    public CssValue<GridColsBuilder>? Columns { get; set; }

    [Parameter]
    public CssValue<GridRowsBuilder>? Rows { get; set; }

    [Parameter]
    public bool Inline { get; set; }

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Display ??= Inline ? Quark.Display.InlineGrid : Quark.Display.Grid;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAttribute(attributes, (ref cls) =>
        {
            if (Columns is { IsEmpty: false })
                AppendClass(ref cls, Columns.Value.ToString());

            if (Rows is { IsEmpty: false })
                AppendClass(ref cls, Rows.Value.ToString());
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);

        AddIf(ref hc, Columns);
        AddIf(ref hc, Rows);
        hc.Add(Inline);
    }
}
