@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IGridItem

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "grid-item";
    }

    [Parameter]
    public CssValue<ColumnSpanBuilder>? ColumnSpan { get; set; }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAttribute(attributes, (ref cls) =>
        {

            if (ColumnSpan is { IsEmpty: false })
                AppendClass(ref cls, ColumnSpan.Value.ToString());
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        AddIf(ref hc, ColumnSpan);
    }
}