@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IOverlayContainer

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Position ??= Quark.Position.Relative;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "overlay-container";
    }
}
