@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IOverlayContainer

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "overlay-container";

        Position ??= Quark.Position.Relative;
    }
}