@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    [CascadingParameter(Name = "ParentInputOtp")]
    private InputOtp? ParentInputOtp { get; set; }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "input-otp-group";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-input-otp-group");
            AppendClass(ref cls, "flex items-center");
        });
    }
}
