@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()"></div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "select-separator";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-select-separator bg-muted -mx-1 my-1 h-px");
        });
    }
}
