@namespace Soenneker.Quark

@inherits Soenneker.Quark.Element

<Div @attributes="BuildAttributes()">
    @ChildContent
</Div>

@code {
    public override string? ThemeKey { get; set; } = "StepCaption";

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) => AppendClass(ref cls, "step-description"));
        return attributes;
    }
}