@namespace Soenneker.Quark

@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    // shadcn - new-york-v4
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-step-caption");
            AppendClass(ref cls, "step-description");
        });
    }
}