
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IDisposable

<Div Class="@GetStepPanelClasses()" @attributes="BuildAttributes()">
    @ChildContent
</Div>

@code {
    public override string? ThemeKey { get; set; } = "StepPanel";

    private StepState? _parentStepsState;
    private StepContentState? _parentStepContentState;
    private bool _lazyLoaded;

    [Parameter]
    public string Name { get; set; } = string.Empty;

    [CascadingParameter]
    public StepState? ParentStepsState
    {
        get => _parentStepsState;
        set
        {
            if (_parentStepsState == value)
                return;

            _parentStepsState = value;
            StateHasChanged();
        }
    }

    [CascadingParameter]
    public StepContentState? ParentStepContentState
    {
        get => _parentStepContentState;
        set
        {
            if (_parentStepContentState == value)
                return;

            _parentStepContentState = value;
            StateHasChanged();
        }
    }

    [CascadingParameter]
    public Steps? ParentSteps { get; set; }

    [CascadingParameter]
    public StepContent? ParentStepContent { get; set; }

    private bool Active => _parentStepsState?.SelectedStep == Name || _parentStepContentState?.SelectedPanel == Name;

    private StepRenderMode RenderMode => _parentStepsState?.RenderMode ?? StepRenderMode.Default;

    private string GetStepPanelClasses()
    {
        var classes = new List<string> { "tab-pane", "fade" };

        if (Active)
        {
            classes.Add("show");
            classes.Add("active");
        }

        return string.Join(" ", classes);
    }

    protected override void OnInitialized()
    {
        ParentSteps?.NotifyStepInitialized(Name);
        ParentStepContent?.NotifyStepPanelInitialized(Name);
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        if (Active)
            _lazyLoaded = RenderMode.Equals(StepRenderMode.LazyLoad);

        base.OnParametersSet();
    }

    public new void Dispose()
    {
        ParentSteps?.NotifyStepRemoved(Name);
        ParentStepContent?.NotifyStepPanelRemoved(Name);
    }
}
