@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IItemHeader

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Display ??= Quark.Display.Flex;
        Width ??= Quark.Width.IsFull;
        ItemsAlign ??= Quark.Items.Center;
        Justify ??= Quark.Justify.Between;
        Gap ??= Quark.Gap.Is2;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "item-header";
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "basis-full");
        });
    }
}
