@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IItemContent

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Display ??= Quark.Display.Flex;
        Flex ??= Quark.Flex.Col;
        Gap ??= Quark.Gap.Is1;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "item-content";
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "flex-1 [&+[data-slot=item-content]]:flex-none");
        });
    }
}
