@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements IItemDescription

<p @attributes="BuildAttributes()">@ChildContent</p>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        TextColor ??= Quark.TextColor.MutedForeground;
        LineClamp ??= Quark.LineClamp.Two;
        TextSize ??= Quark.TextSize.Sm;
        Leading ??= Quark.Leading.Normal;
        FontWeight ??= Quark.FontWeight.Normal;
        TextWrap ??= Quark.TextWrap.Balance;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "item-description";
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "[&>a:hover]:text-primary [&>a]:underline [&>a]:underline-offset-4");
        });
    }
}
