@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IDiv

<div @attributes="BuildAttributes()" >
	@ChildContent
</div>

@code {
    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        BuildClassAttribute(attributes, (ref cls) => AppendClass(ref cls, "q-div"));
        return attributes;
    }
}
