@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ISection

<section @attributes="BuildAttributes()">
	@ChildContent
</section>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        BuildClassAttribute(attributes, (ref cls) => AppendClass(ref cls, "q-section"));
    }
}
