@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ISection

<section @attributes="BuildAttributes()">
	@ChildContent
</section>

@code {
    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        BuildClassAttribute(attributes, (ref cls) => AppendClass(ref cls, "q-section"));
        return attributes;
    }
}
