@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ISection

<section @attributes="BuildAttributes()">
	@ChildContent
</section>

@code {
    // shadcn section - new-york-v4 (block/section spacing)
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-section");
            AppendClass(ref cls, "py-8");
        });
    }
}
