
@namespace Soenneker.Quark
@inherits Element

<div @attributes="BuildWrapperAttributes()">
    <div @attributes="BuildAttributes()">
        @ChildContent
    </div>
</div>

@code {
    public override string? ThemeKey { get; set; } = "TableTopBar";

    [Parameter]
    public string LayoutClass { get; set; } = string.Empty;

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) =>
        {
            AppendClass(ref cls, "quark-table-topbar");
            
            if (LayoutClass.HasContent())
                AppendClass(ref cls, LayoutClass);
        });
        
        return attributes;
    }

    private Dictionary<string, object> BuildWrapperAttributes()
    {
        var attributes = new Dictionary<string, object>();
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) => AppendClass(ref cls, "quark-table-topbar-wrapper"));
        return attributes;
    }
}
