
@namespace Soenneker.Quark
@inherits Element

<div @attributes="BuildAttributes()" >
	@ChildContent
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-table-right");
        });
    }
}
