
@namespace Soenneker.Quark
@inherits Element

<div @attributes="BuildAttributes()" >
	@ChildContent
</div>

@code {
    public override string? ThemeKey { get; set; } = "TableRight";

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) => AppendClass(ref cls, "quark-table-right"));
        return attributes;
    }
}
