
@namespace Soenneker.Quark
@inherits Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    // shadcn table toolbar left - new-york-v4
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-table-left");
        });
    }
}
