@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IColumn

<div @attributes="BuildAttributes()">
	@ChildContent
</div>

@code {
	public override string? ThemeKey { get; set; } = "Column";

    [Parameter]
    public CssValue<ColumnSizeBuilder>? ColumnSize { get; set; }

    [Parameter]
    public CssValue<ColumnOffsetBuilder>? ColumnOffset { get; set; }

    [Parameter]
    public CssValue<ColumnOrderBuilder>? ColumnOrder { get; set; }

    [Parameter]
    public CssValue<ColumnAutoBuilder>? ColumnAuto { get; set; }
    
    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        
        AppendToClassAttr(attributes, "col");

        // Add column-specific CSS values
        AddColumnCss(attributes, ColumnSize);
        AddColumnCss(attributes, ColumnOffset);
        AddColumnCss(attributes, ColumnOrder);
        AddColumnCss(attributes, ColumnAuto);

        return attributes;
    }

    private void AddColumnCss<T>(Dictionary<string, object> attributes, CssValue<T>? cssValue) where T : class, ICssBuilder
    {
        if (cssValue is { IsEmpty: false })
        {
            var css = cssValue.Value.ToString();
            if (css.HasContent())
            {
                if (cssValue.Value.IsCssStyle)
                {
                    AppendStyleDeclAttr(attributes, css);
                }
                else
                {
                    AppendToClassAttr(attributes, css);
                }
            }
        }
    }
}
