@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IContainer

<Div @attributes="BuildAttributes()">
	@ChildContent
</Div>

@code {
	public override string? ThemeKey { get; set; } = "Container";

	[Parameter]
	public CssValue<ContainerBuilder>? ContainerType { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) => AppendClass(ref cls, GetContainerClass()));

        return attributes;
    }

    private string GetContainerClass()
    {
        if (ContainerType is { IsEmpty: false })
        {
            var containerClass = ContainerType.Value.ToString();
            if (containerClass.HasContent())
                return containerClass;
        }
        
        return "container";
    }
}
