@inherits Soenneker.Quark.Element

<Div @attributes="BuildAttributes()">
	@ChildContent
</Div>

@code {
	public override string? ThemeKey { get; set; } = "Container";

    protected override Dictionary<string, object> BuildAttributes()
    {
        Attributes = base.BuildAttributes();
        
        AppendToClassAttr(Attributes, "container");

        return Attributes;
    }
}
