@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ILabel

<label for="@For" @attributes="BuildAttributes()" >
    @ChildContent
</label>

@code {
	public override string? ThemeKey { get; set; } = "Label";

    /// <summary>
    /// Name of the input element to which the label is connected.
    /// </summary>
    [Parameter] public string? For { get; set; }
}
