@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<label @attributes="BuildAttributes()" >
    @ChildContent
</label>

@code {
	public override string? ThemeKey { get; set; } = "Label";
}
