@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IParagraph

<p @attributes="BuildAttributes()">
	@ChildContent
</p>

@code {
    public override string? ThemeKey { get; set; } = "Paragraph";
}
