@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IRow

<Div @attributes="BuildAttributes()">
	@ChildContent
</Div>

@code {
    public override string? ThemeKey { get; set; } = "Row";

	[Parameter]
	public CssValue<GutterBuilder>? Gutter { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
    {
        Attributes = base.BuildAttributes();
        
        AppendToClassAttr(Attributes, "row");

        AddGutterCss(Attributes);

        return Attributes;
    }

    private void AddGutterCss(Dictionary<string, object> attributes)
    {
        if (Gutter is { IsEmpty: false })
        {
            var gutterClass = Gutter.Value.ToString();
            if (gutterClass.HasContent())
            {
                AppendToClassAttr(attributes, gutterClass);
            }
        }
    }
}
