@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<section @attributes="BuildAttributes()">
	@ChildContent
</section>

@code {
	public override string? ThemeKey { get; set; } = "Section";
}