@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ISpan

<span @attributes="BuildAttributes()" >
    @ChildContent
</span>

@code {
	public override string? ThemeKey { get; set; } = "Span";
}
