@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IText

<Span @attributes="BuildAttributes()">
    @ChildContent
</Span>

@code {
    public override string? ThemeKey { get; set; } = "Text";
}
