@namespace Soenneker.Quark
@inherits Soenneker.Quark.InteractiveElement
@implements IDiv

<div @ref="ElementRef" @attributes="BuildAttributes()">
	@ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "div";
    }

    protected override void BuildOwnedAttributes(Dictionary<string, object> attrs)
    {
        base.BuildOwnedAttributes(attrs);

        if (OnClick.HasDelegate)
            attrs["onclick"] = OnClick;
    }
}
