@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IDiv

<div @ref="ElementRef" @attributes="BuildAttributes()">
	@ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "div";
    }
}