@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IMain

<main @attributes="BuildAttributes()">
	@ChildContent
</main>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        BuildClassAttribute(attributes, (ref cls) => AppendClass(ref cls, "q-main"));
    }
}

