@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ISection

<section @attributes="BuildAttributes()">
	@ChildContent
</section>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "section";
    }
}