@using Soenneker.Bradix

@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements INavigationMenuViewport

<div @attributes="BuildWrapperAttributes()">
    <BradixNavigationMenuViewport AdditionalAttributes="@ViewportAttributes">
        @ChildContent
    </BradixNavigationMenuViewport>
</div>

@code {
    private static Dictionary<string, object> BuildWrapperAttributes()
    {
        var attributes = new Dictionary<string, object>(1);

        RenderComponent.BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "absolute top-full left-1/2 isolate z-50 flex w-[calc(100vw-2rem)] -translate-x-1/2 justify-center md:left-0 md:w-auto md:translate-x-0");
        });

        return attributes;
    }

    private IReadOnlyDictionary<string, object> ViewportAttributes => BuildViewportAttributes();

    private IReadOnlyDictionary<string, object> BuildViewportAttributes()
    {
        Dictionary<string, object> attributes = new(BuildAttributes());
        attributes.Remove("data-state");
        attributes.Remove("data-orientation");
        return attributes;
    }

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        BackgroundColor ??= Quark.BackgroundColor.Popover;
        TextColor ??= Quark.TextColor.PopoverForeground;
        Position ??= Quark.Position.Relative;
        Height ??= Quark.Height.Token("[var(--radix-navigation-menu-viewport-height)]");
        Width ??= Quark.Width.IsFull;
        Rounded ??= Quark.Rounded.Md;
        Border ??= Quark.Border.Default;
        Margin ??= Quark.Margin.Token("1.5").FromTop;
        Overflow ??= Quark.Overflow.Hidden;
        Shadow ??= Quark.Shadow.Default;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "navigation-menu-viewport";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "origin-top-center data-[state=open]:animate-in data-[state=closed]:animate-out");
            AppendClass(ref cls, "data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-90");
            AppendClass(ref cls, "md:w-[var(--radix-navigation-menu-viewport-width)]");
        });
    }
}
