@namespace Soenneker.Quark
@inherits Soenneker.Quark.FormControlElement
@implements INavigationMenuItem

<CascadingValue Value="@this" IsFixed="true">
    <li @attributes="BuildAttributes()">
        @ChildContent
    </li>
</CascadingValue>

@code {
    [Parameter]
    public bool Open { get; set; }

    [CascadingParameter(Name = "ParentNavigationMenu")]
    private NavigationMenu? ParentNavigationMenu { get; set; }

    internal bool IsOpenResolved => ParentNavigationMenu?.IsItemOpen(this) ?? Open;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ParentNavigationMenu?.RegisterItem(this);
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "navigation-menu-item";
        attributes["data-state"] = IsOpenResolved ? "open" : "closed";

        if (Disabled)
            attributes["aria-disabled"] = "true";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-navigation-menu-item");
            AppendClass(ref cls, "group/navigation-menu-item relative");

            if (Disabled)
                AppendClass(ref cls, "pointer-events-none opacity-50");
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        hc.Add(Open);
        hc.Add(IsOpenResolved);
        hc.Add(Disabled);
    }

    public override void Dispose()
    {
        ParentNavigationMenu?.UnregisterItem(this);
        base.Dispose();
    }
}
