@page "/progresses"
@using Microsoft.Extensions.Logging

@inject ILogger<Index> Logger

<img src="https://user-images.githubusercontent.com/4441470/224455560-91ed3ee7-f510-4041-a8d2-3fc093025112.png" />
<h1>Soenneker.Quark.Progresses demo</h1>
<p>Minimal usage examples.</p>
<br />

<hr />

<div class="container py-3">
    <h5>Basic</h5>
    <Progress class="mb-3">
        <ProgressBar Value="25" />
    </Progress>

    <h5>Striped + Animated</h5>
    <Progress class="mb-3">
        <ProgressBar Value="60" Striped="true" Animated="true" />
    </Progress>

    <h5>Colors</h5>
    <Progress class="mb-3">
        <ProgressBar Value="35" Color="Color.Success" />
    </Progress>
    <Progress class="mb-3">
        <ProgressBar Value="70" Color="Color.Warning" />
    </Progress>
    <Progress class="mb-3">
        <ProgressBar Value="90" Color="Color.Danger" />
    </Progress>
</div>

@code{

    protected override void OnInitialized()
    {
    }
}
