@page "/progresses"
@using Microsoft.Extensions.Logging

@inject ILogger<Index> Logger

<Container Padding="Padding.Is4.OnY">
    <Row>
        <Column>
            <Div Class="text-center" Margin="Margin.Is5.FromEnd">
                <H1 Class="display-4 fw-bold text-primary">Progresses</H1>
                <Paragraph Class="lead text-muted">This page demonstrates the Progress component with various configurations.</Paragraph>
            </Div>
        </Column>
    </Row>

    <Row Gap="Gap.Is4">
        <Column>
            <Div>
                <H2>Basic Progress</H2>
                <Div Margin="Margin.Is3.FromEnd">
                    <Progress class="mb-3">
                        <ProgressBar Value="25"/>
                    </Progress>
                </Div>
            </Div>

            <Hr/>

            <Div>
                <H2>Striped + Animated</H2>
                <Div Margin="Margin.Is3.FromEnd">
                    <Progress class="mb-3">
                        <ProgressBar Value="60" Striped="true" Animated="true"/>
                    </Progress>
                </Div>
            </Div>

            <Hr/>

            <Div>
                <H2>Progress Colors</H2>
                <Div Margin="Margin.Is3.FromEnd">
                    <Progress class="mb-3">
                        <ProgressBar Value="35" Color="Color.Success"/>
                    </Progress>
                    <Progress class="mb-3">
                        <ProgressBar Value="70" Color="Color.Warning"/>
                    </Progress>
                    <Progress class="mb-3">
                        <ProgressBar Value="90" Color="Color.Danger"/>
                    </Progress>
                </Div>
            </Div>
        </Column>
    </Row>
</Container>

@code{

    protected override void OnInitialized()
    {
    }

}