@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IListGroupItem

<li @attributes="BuildAttributes()" @onclick="HandleClick">
    @ChildContent
</li>

@code {
    public override string? ThemeKey { get; set; } = "ListGroupItem";

    [Parameter]
    public string? ItemName { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public bool Active { get; set; }


    [CascadingParameter]
    protected ListGroup? ParentListGroup { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        
        AppendToClassAttr(attributes, "list-group-item");
        
        if (ParentListGroup?.Mode == ListGroupMode.Selectable)
            AppendToClassAttr(attributes, "list-group-item-action");
            
        if (Active)
            AppendToClassAttr(attributes, "active");
            
        if (Disabled)
            AppendToClassAttr(attributes, "disabled");

        if (BackgroundColor is not null && !BackgroundColor.Value.IsEmpty)
        {
            var v = BackgroundColor.Value.ToString().Trim();

            if (BackgroundColor.Value.IsCssClass)
            {
                if (v.StartsWith("list-group-item-", StringComparison.Ordinal))
                    AppendToClassAttr(attributes, v);
                else
                    AppendToClassAttr(attributes, $"list-group-item-{v}");
            }
        }

        if (Disabled)
            attributes["aria-disabled"] = "true";

        return attributes;
    }

    protected override async Task HandleClick(MouseEventArgs args)
    {
        if (Disabled)
            return;

        if (ParentListGroup is not null && ItemName.HasContent())
            await ParentListGroup.SelectItem(ItemName);

        await base.HandleClick(args);
    }

}
