@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IFieldBody

<CascadingValue Name="ParentFieldBody" Value="this" IsFixed="true">
    <div @attributes="BuildAttributes()">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter]
    public CssValue<GridColsBuilder>? Columns { get; set; }

    // Prefer a simple cascading bool rather than poking into ParentField.
    [CascadingParameter(Name = "FieldHorizontal")]
    protected bool FieldHorizontal { get; set; }

    protected virtual bool IsHorizontal => FieldHorizontal;

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Flex ??= "flex flex-1 flex-col";
        Gap ??= Quark.Gap.Token("0.5");
        Leading ??= Quark.Leading.Snug;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "field-content";

        // shadcn FieldContent - new-york-v4 ui/field.tsx
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "group/field-content");
            if (IsHorizontal)
            {
                AppendClass(ref cls, "min-w-0");
                var columnClassAdded = AddColumnCss(ref cls, Columns);
                if (!columnClassAdded)
                    AppendClass(ref cls, "col-span-12");
            }
        });
    }

    /// <returns>True if a class was added.</returns>
    private static bool AddColumnCss<T>(ref PooledStringBuilder cls, CssValue<T>? cssValue) where T : class, ICssBuilder
    {
        if (cssValue is { IsEmpty: false })
        {
            var css = cssValue.Value.ToString();
            if (css.HasContent() && !cssValue.Value.IsCssStyle)
            {
                AppendClass(ref cls, css);
                return true;
            }
        }
        return false;
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        AddIf(ref hc, Columns);
        hc.Add(IsHorizontal);
    }
}
