@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Flex ??= "flex flex-col";
        Width ??= Quark.Width.IsFull;
        Gap ??= Quark.Gap.Token("7");
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "field-group";
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "group/field-group @container/field-group");
            AppendClass(ref cls, "data-[slot=checkbox-group]:gap-3 [&>[data-slot=field-group]]:gap-4");
        });
    }
}
