@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IFieldBody

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    // Prefer a simple cascading bool rather than poking into ParentField.
    [CascadingParameter(Name = "FieldHorizontal")]
    protected bool FieldHorizontal { get; set; }

    protected virtual bool IsHorizontal => FieldHorizontal;

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        // shadcn FieldContent - new-york-v4 ui/field.tsx
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-field-body");
            AppendClass(ref cls, "group/field-content flex flex-1 flex-col gap-1.5 leading-snug");
            if (IsHorizontal)
            {
                AppendClass(ref cls, "min-w-0");
                var columnClassAdded = AddColumnCss(ref cls, Grid);
                if (!columnClassAdded)
                    AppendClass(ref cls, "col-span-12");
            }
        });
    }

    /// <returns>True if a class was added.</returns>
    private static bool AddColumnCss<T>(ref PooledStringBuilder cls, CssValue<T>? cssValue) where T : class, ICssBuilder
    {
        if (cssValue is { IsEmpty: false })
        {
            var css = cssValue.Value.ToString();
            if (css.HasContent() && !cssValue.Value.IsCssStyle)
            {
                AppendClass(ref cls, css);
                return true;
            }
        }
        return false;
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        AddIf(ref hc, Grid);
        hc.Add(IsHorizontal);
    }
}