@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    <Hr Orientation="@SeparatorOrientation.Horizontal" Decorative="true" Position="Quark.Position.Absolute" Inset="Quark.Inset.Is0" Top="Quark.Top.Is1of2" />
    @if (ChildContent != null)
    {
        <Span DataSlot="field-separator-content"
              Position="Quark.Position.Relative"
              Margin="Quark.Margin.OnX.Auto"
              Display="Quark.Display.Block"
              Width="Quark.Width.IsFit"
              BackgroundColor="Quark.BackgroundColor.Background"
              Padding="Quark.Padding.OnX.Is2"
              TextColor="Quark.TextColor.MutedForeground">
            @ChildContent
        </Span>
    }
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "field-separator";

        Position ??= Quark.Position.Relative;
        Margin ??= Quark.Margin.OnY.Negative2;
        Height ??= Quark.Height.Is5;
        TextSize ??= Quark.TextSize.Sm;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-content"] = ChildContent != null ? "true" : "false";
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "group-data-[variant=outline]/field-group:-mb-2");
        });
    }
}