@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<span @attributes="BuildAttributes()">
    @ChildContent
</span>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        FontWeight ??= Quark.FontWeight.Normal;
        TextColor ??= Quark.TextColor.Foreground;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "breadcrumb-page";
        attributes["role"] = "link";
        attributes["aria-disabled"] = "true";
        attributes["aria-current"] = "page";
    }
}
