@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<li @attributes="BuildAttributes()">
    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        <Icon Name="LucideIcon.ChevronRight" />
    }
</li>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "breadcrumb-separator";
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["role"] = "presentation";
        attributes["aria-hidden"] = "true";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "[&>svg]:block [&>svg]:size-3.5");
        });
    }
}