@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<span @attributes="BuildAttributes()">
    <Icon Name="LucideIcon.Ellipsis" aria-hidden="true" />
    <Span ScreenReader="Quark.ScreenReader.Only">More</Span>
</span>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "breadcrumb-ellipsis";

        Display ??= Quark.Display.Flex;
        Size ??= Quark.Size.Is5;
        ItemsAlign ??= Items.Center;
        Justify ??= Quark.Justify.Center;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["role"] = "presentation";
        attributes["aria-hidden"] = "true";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "[&>svg]:size-4");
        });
    }
}