@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IEmpty

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Display ??= Quark.Display.Flex;
        Width ??= Quark.Width.IsFull;
        MinWidth ??= Quark.MinWidth.Is0;
        Flex ??= "flex flex-col flex-1";
        ItemsAlign ??= Items.Center;
        Justify ??= Quark.Justify.Center;
        Gap ??= Quark.Gap.Is4;
        Rounded ??= Quark.Rounded.Xl;
        Border ??= Quark.Border.Is1;
        Padding ??= Quark.Padding.Is6;
        TextAlign ??= Quark.TextAlign.Center;
        TextWrap ??= Quark.TextWrap.Balance;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "empty";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "border-dashed");
        });
    }
}
