
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IOffcanvasBody

<div @attributes="BuildAttributes()" >
    @ChildContent
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attrs)
    {
        BuildClassAttribute(attrs, (ref cls) =>
        {
            AppendClass(ref cls, "q-offcanvas-body");
            AppendClass(ref cls, "offcanvas-body");
        });
    }

}
