
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IOffcanvasBody

<div @attributes="BuildAttributes()" >
    @ChildContent
</div>

@code {
    // shadcn Sheet content - new-york-v4 ui/sheet.tsx
    protected override void BuildAttributesCore(Dictionary<string, object> attrs)
    {
        BuildClassAttribute(attrs, (ref cls) =>
        {
            AppendClass(ref cls, "q-offcanvas-body");
            AppendClass(ref cls, "flex-1 overflow-y-auto p-4");
        });
    }

}
