@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IOffcanvasHeader

<div @attributes="BuildAttributes()">
    @if (Title is not null)
    {
        <h5 class="q-offcanvas-title">@Title</h5>
    }
    @ChildContent
    @if (ShowCloseButton)
    {
        <Button Type="@ButtonType.Button" Class="btn-close" OnClick="HandleClose"></Button>
    }
    
</div>

@code {
    /// <summary>
    /// Gets or sets whether to show the close button in the header.
    /// </summary>
    [Parameter]
    public bool ShowCloseButton { get; set; } = true;

    [CascadingParameter]
    public Offcanvas? ParentOffcanvas { get; set; }

    protected override void BuildAttributesCore(Dictionary<string, object> attrs)
    {
        BuildClassAttribute(attrs, (ref cls) =>
        {
            AppendClass(ref cls, "q-offcanvas-header");
            AppendClass(ref cls, "offcanvas-header");
        });
    }

    private async Task HandleClose(MouseEventArgs args)
    {
        if (ParentOffcanvas is not null)
            await ParentOffcanvas.RequestClose();
    }
}


