
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IOffcanvasBody

<div @attributes="BuildAttributes()" >
    @ChildContent
</div>

@code {
    protected override Dictionary<string, object> BuildAttributes()
    {
        var attrs = base.BuildAttributes();
        BuildClassAttribute(attrs, (ref PooledStringBuilder cls) => AppendClass(ref cls, "offcanvas-body"));
        return attrs;
    }

}
