@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "tooltip-trigger";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-tooltip-trigger");
            AppendClass(ref cls, "inline-flex");
        });
    }
}
