@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IContainer

<div @attributes="BuildFlowAttributes()">
	@ChildContent
</div>

@code {
	[Parameter]
	public CssValue<ContainerBuilder>? ContainerType { get; set; }

    protected virtual Dictionary<string, object> BuildFlowAttributes()
    {
        var attributes = BuildAttributes();
        
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) => AppendClass(ref cls, GetContainerClass()));

        return attributes;
    }

    private string GetContainerClass()
    {
        if (ContainerType is { IsEmpty: false })
        {
            var containerClass = ContainerType.Value.ToString();
            if (containerClass.HasContent())
                return containerClass;
        }
        
        return "container";
    }
}
