@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IRow

<div @attributes="BuildAttributes()">
	@ChildContent
</div>

@code {
	[Parameter]
	public CssValue<GutterBuilder>? Gutter { get; set; }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-row");
            AppendClass(ref cls, "row");

            if (Gutter is { IsEmpty: false })
            {
                var gutterClass = Gutter.Value.ToString();
                if (gutterClass.HasContent())
                {
                    AppendClass(ref cls, gutterClass);
                }
            }
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        AddIf(ref hc, Gutter);
    }
}
