@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IRow

<div @attributes="BuildFlowAttributes()">
	@ChildContent
</div>

@code {
	[Parameter]
	public CssValue<GutterBuilder>? Gutter { get; set; }

    protected virtual Dictionary<string, object> BuildFlowAttributes()
    {
        var attributes = BuildAttributes();
        
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) =>
        {
            AppendClass(ref cls, "q-row");
            AppendClass(ref cls, "row");

            if (Gutter is { IsEmpty: false })
            {
                var gutterClass = Gutter.Value.ToString();
                if (gutterClass.HasContent())
                {
                    AppendClass(ref cls, gutterClass);
                }
            }
        });

        return attributes;
    }
}
