@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IInputGroupButton

<Button Type="@Type" Variant="@Variant" Size="@Size" Attributes="BuildAttributes()">@ChildContent</Button>

@code {
    [Parameter]
    public ButtonSize Size { get; set; } = ButtonSize.Xs;

    [Parameter]
    public ButtonVariant Variant { get; set; } = ButtonVariant.Ghost;

    [Parameter]
    public ButtonType Type { get; set; } = ButtonType.Button;

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Shadow ??= Quark.Shadow.None;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "input-group-button";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, Button.GetInputGroupButtonSizeClass(Size?.Value));
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        hc.Add(Size);
        hc.Add(Variant);
        hc.Add(Type);
    }
}
