@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IInputGroup

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Rounded ??= Quark.Rounded.Md;
        BoxShadow ??= Quark.BoxShadow.Xs;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "input-group";
        attributes["role"] = "group";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "group/input-group relative flex w-full items-center border border-input transition-[color,box-shadow] outline-none dark:bg-input/30");
            AppendClass(ref cls, "h-9 min-w-0 has-[>textarea]:h-auto");
            AppendClass(ref cls, "has-[>[data-align=inline-start]]:[&>input]:pl-2");
            AppendClass(ref cls, "has-[>[data-align=inline-end]]:[&>input]:pr-2");
            AppendClass(ref cls, "has-[>[data-align=block-start]]:h-auto has-[>[data-align=block-start]]:flex-col has-[>[data-align=block-start]]:[&>input]:pb-3");
            AppendClass(ref cls, "has-[>[data-align=block-end]]:h-auto has-[>[data-align=block-end]]:flex-col has-[>[data-align=block-end]]:[&>input]:pt-3");
            AppendClass(ref cls, "has-[[data-slot=input-group-control]:focus-visible]:border-ring has-[[data-slot=input-group-control]:focus-visible]:ring-[3px] has-[[data-slot=input-group-control]:focus-visible]:ring-ring/50");
            AppendClass(ref cls, "has-[[data-slot][aria-invalid=true]]:border-destructive has-[[data-slot][aria-invalid=true]]:ring-destructive/20 dark:has-[[data-slot][aria-invalid=true]]:ring-destructive/40");
        });
    }
}
