@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IInputGroupAddon

<div @onclick="HandleAddonClick" @attributes="BuildAttributes()">@ChildContent</div>

@code {
    [CascadingParameter]
    internal InputGroupContext? InputGroupContext { get; set; }

    [Parameter]
    public InputGroupAddonAlign AddonAlign { get; set; } = InputGroupAddonAlign.InlineStart;

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Display ??= Quark.Display.Flex;
        Height ??= Quark.Height.Auto;
        Cursor ??= Quark.Cursor.Text;
        ItemsAlign ??= Items.Center;
        Justify ??= Quark.Justify.Center;
        Gap ??= Quark.Gap.Is2;
        TextSize ??= Quark.TextSize.Sm;
        FontWeight ??= Quark.FontWeight.Medium;
        TextColor ??= Quark.TextColor.MutedForeground;
        UserSelect ??= Quark.UserSelect.None;

        ApplyAlignDefaults();
    }

    private void ApplyAlignDefaults()
    {
        if (ReferenceEquals(AddonAlign, InputGroupAddonAlign.InlineEnd))
        {
            Padding ??= Quark.Padding.Token("1.5").OnY.Is3.FromRight;
            return;
        }

        if (ReferenceEquals(AddonAlign, InputGroupAddonAlign.BlockStart))
        {
            Width ??= Quark.Width.IsFull;
            Justify ??= Quark.Justify.Start;
            Padding ??= Quark.Padding.Is3.OnX.Is3.FromTop;
            return;
        }

        if (ReferenceEquals(AddonAlign, InputGroupAddonAlign.BlockEnd))
        {
            Width ??= Quark.Width.IsFull;
            Justify ??= Quark.Justify.Start;
            Padding ??= Quark.Padding.Is3.OnX.Is3.FromBottom;
            return;
        }

        Padding ??= Quark.Padding.Token("1.5").OnY.Is3.FromLeft;
    }

    private static string GetAlignValue(InputGroupAddonAlign align)
    {
        if (ReferenceEquals(align, InputGroupAddonAlign.InlineEnd))
            return "inline-end";

        if (ReferenceEquals(align, InputGroupAddonAlign.BlockStart))
            return "block-start";

        if (ReferenceEquals(align, InputGroupAddonAlign.BlockEnd))
            return "block-end";

        return "inline-start";
    }

    private static string GetAlignClass(InputGroupAddonAlign align)
    {
        if (ReferenceEquals(align, InputGroupAddonAlign.InlineEnd))
            return "order-last has-[>button]:mr-[-0.45rem] has-[>kbd]:mr-[-0.35rem]";

        if (ReferenceEquals(align, InputGroupAddonAlign.BlockStart))
            return "order-first group-has-[>input]/input-group:pt-2.5 [.border-b]:pb-3";

        if (ReferenceEquals(align, InputGroupAddonAlign.BlockEnd))
            return "order-last group-has-[>input]/input-group:pb-2.5 [.border-t]:pt-3";

        return "order-first has-[>button]:ml-[-0.45rem] has-[>kbd]:ml-[-0.35rem]";
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["role"] = "group";
        attributes["data-slot"] = "input-group-addon";
        attributes["data-align"] = GetAlignValue(AddonAlign);

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "group-data-[disabled=true]/input-group:opacity-50 [&>kbd]:rounded-[calc(var(--radius)-5px)] [&>svg:not([class*='size-'])]:size-4");
            AppendClass(ref cls, GetAlignClass(AddonAlign));
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(AddonAlign);
    }

    private async Task HandleAddonClick(MouseEventArgs _)
    {
        if (InputGroupContext is not null)
            await InputGroupContext.FocusControl();
    }
}
