@namespace Soenneker.Quark

@inherits Soenneker.Quark.Element
@implements IBarBrand

<Div Class="navbar-brand d-flex align-items-center" @attributes="BuildAttributes()">
    @ChildContent
</Div>

@code {
	public override string? ThemeKey { get; set; } = "BarBrand";

    [Parameter]
    public string? To { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        if (To.HasContent())
        {
            attributes["href"] = To;

            AppendToClassAttr(attributes, "navbar-brand");
        }

        return attributes;
    }
}
