
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IBarEnd

<Div @attributes="BuildAttributes()">
    @ChildContent
</Div>

@code {
	public override string? ThemeKey { get; set; } = "BarEnd";

    [CascadingParameter]
    public BarMode Mode { get; set; } = BarMode.Horizontal;


    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        // For horizontal mode, add margin start auto to push to the right
        if (Mode == BarMode.Horizontal)
        {
            AppendToClassAttr(attributes, "navbar-nav");
            AppendToClassAttr(attributes, "ms-auto");
        }
        else
        {
            // For vertical modes, use dropdown styling for sidebar
            AppendToClassAttr(attributes, "dropdown");
        }

        return attributes;
    }
}
