
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<Div Class="navbar-end" @attributes="BuildAttributes()" >
    @ChildContent
</Div>

@code {
	public override string? ThemeKey { get; set; } = "BarEnd";

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        AppendToClassAttr(attributes, "navbar-end");

        return attributes;
    }

}
