
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IBarLabel

<Div @attributes="BuildAttributes()" >
    @ChildContent
</Div>

@code {
	public override string? ThemeKey { get; set; } = "BarLabel";

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) => AppendClass(ref cls, "b-bar-label"));
        return attributes;
    }

}
