
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@using Soenneker.Extensions.String
@implements IBarMenu

<Div @attributes="BuildAttributes()" >
    @ChildContent
</Div>

@code {
	public override string? ThemeKey { get; set; } = "BarMenu";

    [Parameter]
    public bool Right { get; set; }

    [CascadingParameter]
    public BarMode Mode { get; set; } = BarMode.Horizontal;

    [CascadingParameter]
    public bool SidebarCollapsed { get; set; }

    [CascadingParameter]
    public string? MenuId { get; set; }


    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        if (Mode == BarMode.Horizontal)
        {
            AppendToClassAttr(attributes, "collapse");
            AppendToClassAttr(attributes, "navbar-collapse");
            if (MenuId.HasContent())
                attributes["id"] = MenuId;
            
            if (Right)
                AppendToClassAttr(attributes, "ms-auto");
        }

        // For vertical modes, add flex-direction column
        if (Mode != BarMode.Horizontal)
        {
            AppendStyleDeclAttr(attributes, "flex-direction: column");
            AppendStyleDeclAttr(attributes, "width: 100%");
            if (SidebarCollapsed)
                AppendStyleDeclAttr(attributes, "gap: 0.25rem");
        }

        return attributes;
    }

}
