
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IBarStart

<Div @attributes="BuildAttributes()">
    @ChildContent
</Div>

@code {
	public override string? ThemeKey { get; set; } = "BarStart";

    [CascadingParameter]
    public BarMode Mode { get; set; } = BarMode.Horizontal;


    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        // For vertical modes, use nav-pills styling for sidebar
        if (Mode != BarMode.Horizontal)
        {
            AppendToClassAttr(attributes, "nav");
            AppendToClassAttr(attributes, "nav-pills");
            AppendToClassAttr(attributes, "flex-column");
            AppendToClassAttr(attributes, "flex-grow-1");
        }
        else
        {
            AppendToClassAttr(attributes, "navbar-nav");
        }

        return attributes;
    }
}
