
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IOrderedListItem

<li @attributes="BuildAttributes()">
	@ChildContent
</li>

@code {
    /// <summary>
    /// Gets or sets the list variant style.
    /// </summary>
    [Parameter]
    public CssValue<ListVariantBuilder>? ListVariant { get; set; }

    protected override void BuildAttributesCore(Dictionary<string, object> attrs)
    {
        base.BuildAttributesCore(attrs);

        BuildClassAttribute(attrs, (ref cls) =>
        {
            AppendClass(ref cls, "q-ordered-list-item");
        });
        
        if (ListVariant is { IsEmpty: false })
        {
            var cls = ListVariant.Value.ToString();
            if (cls.Length > 0)
            {
                AppendClassAttribute(attrs, cls);
            }
        }
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        AddIf(ref hc, ListVariant);
    }
}
