@using Soenneker.Bradix

@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

@if (AsChild)
{
    <span @onclick="HandleWrapperClick" @attributes="BuildWrapperAttributes()">
        @ChildContent
    </span>
}
else
{
    <BradixDialogClose OnClick="HandleDefaultClick" AdditionalAttributes="@CloseAttributes">
        @ChildContent
    </BradixDialogClose>
}

@code {

    [CascadingParameter(Name = "ParentDrawer")]
    private Drawer? ParentDrawer { get; set; }

    [Parameter]
    public bool AsChild { get; set; }

    [Parameter]
    public bool AutoClose { get; set; } = true;

    private IReadOnlyDictionary<string, object> CloseAttributes => BuildAttributes();

    private async Task HandleClose()
    {
        if (AutoClose && ParentDrawer is not null)
            await ParentDrawer.Hide();
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "drawer-close";
    }

    private Dictionary<string, object> BuildWrapperAttributes()
    {
        var attributes = new Dictionary<string, object>
        {
            ["data-slot"] = "drawer-close-wrapper"
        };

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "contents");
        });

        return attributes;
    }

    private Task HandleWrapperClick(MouseEventArgs _)
    {
        return HandleClose();
    }

    private async Task HandleDefaultClick(MouseEventArgs e)
    {
        await HandleClose();
        await base.HandleClick(e);
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(AsChild);
        hc.Add(AutoClose);
    }

}
