@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "drawer-footer";

    }

    protected override void ApplyDefaultParameters()
    {
        Display ??= Quark.Display.Flex;
        FlexDirection ??= Quark.FlexDirection.Col;
        Gap ??= Quark.Gap.Is2;
        Margin ??= Quark.Margin.Auto.FromTop;
        Padding ??= Quark.Padding.Is4;

        base.ApplyDefaultParameters();
    }
}
