@inherits Element

<td colspan="@Colspan" @attributes="BuildAttributes()">
    @ChildContent
</td>

@code {
	public override string? ThemeKey { get; set; } = "QuarkTd";

    [Parameter]
    public int Colspan { get; set; } = 1;
} 
