@namespace Soenneker.Quark
@inherits Element

<td colspan="@Colspan" @attributes="BuildAttributes()">
    @ChildContent
</td>

@code {
    /// <summary>
    /// Gets or sets the colspan attribute value.
    /// </summary>
    [Parameter]
    public int Colspan { get; set; } = 1;

	protected override void BuildAttributesCore(Dictionary<string, object> attributes)
	{
		attributes["role"] = "cell";

		BuildClassAttribute(attributes, (ref cls) =>
		{
			AppendClass(ref cls, "q-table-td");
			// shadcn TableCell - new-york-v4 ui/table.tsx
			AppendClass(ref cls, "p-2 align-middle whitespace-nowrap [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px]");
		});
	}

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        hc.Add(Colspan);
    }
} 
