@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()" role="group" aria-roledescription="slide">
    @ChildContent
</div>

@code {

    [CascadingParameter(Name = "ParentCarousel")]
    private Carousel? ParentCarousel { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ParentCarousel?.RegisterItem();
    }

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        MinWidth ??= Quark.MinWidth.Is0;
        Shrink ??= Quark.Shrink.Is0;
        Grow ??= Quark.Grow.Is0;
        Padding ??= ParentCarousel?.IsVertical == true ? Quark.Padding.Is4.FromTop : Quark.Padding.Is4.FromLeft;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "carousel-item";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "basis-full");
        });
    }

    public override void Dispose()
    {
        ParentCarousel?.UnregisterItem();
        base.Dispose();
    }

}