@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IAlertAction

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Position ??= Quark.Position.Absolute;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "alert-action";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-alert-action");
            AppendClass(ref cls, "top-4 right-4");
        });
    }
}
