@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IAlertAction

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "alert-action";

        Position ??= Quark.Position.Absolute;
        Top ??= Quark.Top.Is2;
        Right ??= Quark.Right.Is2;
    }
}
