@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements IAlertTitle

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        LineClamp ??= Quark.LineClamp.One;
        MinHeight ??= Quark.Height.Token("4");
        FontWeight ??= Quark.FontWeight.Medium;
        this.Tracking ??= Quark.Tracking.Tight;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "alert-title";
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-alert-title");
            AppendClass(ref cls, "col-start-2");
        });
    }
}
