@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements IAlertDescription

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        TextColor ??= Quark.TextColor.MutedForeground;
        TextSize ??= Quark.TextSize.Sm;

    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "alert-description";
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "col-start-2 grid justify-items-start gap-1 [&_p]:leading-relaxed");
        });
    }
}
