@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements IAlertTitle

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        FontWeight ??= Quark.FontWeight.Medium;

    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "alert-title";
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "col-start-2 line-clamp-1 min-h-4 tracking-tight");
        });
    }
}
