@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IBreadcrumb

<Nav @attributes="BuildAttributes()">
    <OrderedList Class="breadcrumb">
        @ChildContent
    </OrderedList>
</Nav>

@code {
	public override string? ThemeKey { get; set; } = "Breadcrumb";

    [Parameter]
    public bool Large { get; set; }

    [Parameter]
    public bool Small { get; set; }

    [Parameter]
    public bool Divider { get; set; }

    [Parameter]
    public string? DividerText { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        var baseClasses = "breadcrumb";

        if (Large)
            baseClasses = $"{baseClasses} breadcrumb-lg";
        
        if (Small)
            baseClasses = $"{baseClasses} breadcrumb-sm";

        AppendToClassAttr(attributes, baseClasses);

        // Set default aria-label for the Nav component if none provided
        if (!AriaLabel.HasContent())
        {
            attributes["AriaLabel"] = "breadcrumb";
        }

        return attributes;
    }
}
