@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IBreadcrumb

<nav aria-label="breadcrumb" @attributes="BuildAttributes()">
    <OrderedList Class="breadcrumb">
        @ChildContent
    </OrderedList>
</nav>

@code {
	public override string? ThemeKey { get; set; } = "Breadcrumb";

    [Parameter]
    public CssValue<ColorBuilder> Color { get; set; } = Quark.Color.Light;

    [Parameter]
    public bool Large { get; set; }

    [Parameter]
    public bool Small { get; set; }

    [Parameter]
    public bool Divider { get; set; }

    [Parameter]
    public string? DividerText { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        var baseClasses = "breadcrumb";

        if (Large)
            baseClasses = $"{baseClasses} breadcrumb-lg";
        
        if (Small)
            baseClasses = $"{baseClasses} breadcrumb-sm";

        AppendToClassAttr(attributes, baseClasses);

        return attributes;
    }
}
