@page "/blockquotes"

<PageTitle>Blockquote - Quark Suite</PageTitle>

<Div Space="Space.Y.Is8" MaxWidth="MaxWidth.Is4xl">
    <Section Space="Space.Y.Is4">
        <DemoSection Code="@BlockquoteCode"
                     CodeLanguage="razor">
            <Blockquote>
                "After all," he said, "everyone enjoys a good joke, so it's only fair that they should pay for the privilege."
            </Blockquote>
        </DemoSection>
    </Section>
</Div>

@code {
    private const string BlockquoteCode =
@"<Blockquote>
    ""After all,"" he said, ""everyone enjoys a good joke, so it's only fair that they should pay for the privilege.""
</Blockquote>";
}
