@page "/codes"

<PageTitle>Code - Quark Suite</PageTitle>

<Div Space="Space.Y.Is8" MaxWidth="MaxWidth.Is4xl">
    <Section Space="Space.Y.Is4">
        <DemoSection Code="@InlineCode"
                     CodeLanguage="razor">
            <Code>@("@radix-ui/react-alert-dialog")</Code>
        </DemoSection>
    </Section>
</Div>

@code {
    private const string InlineCode =
@"<Code>@radix-ui/react-alert-dialog</Code>";
}
