@page "/headings"

<PageTitle>Headings - Quark Suite</PageTitle>

<Div Space="Space.Y.Is8" MaxWidth="MaxWidth.Is4xl">
    <Div Space="Space.Y.Is6">
        <Section Space="Space.Y.Is4">
            <DemoSection Title="H1"
                         Code="@H1Code"
                         CodeLanguage="razor">
                <H1>Taxing Laughter: The Joke Tax Chronicles</H1>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="H2"
                         Code="@H2Code"
                         CodeLanguage="razor">
                <H2>The People of the Kingdom</H2>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="H3"
                         Code="@H3Code"
                         CodeLanguage="razor">
                <H3>The Joke Tax</H3>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="H4"
                         Code="@H4Code"
                         CodeLanguage="razor">
                <H4>People stopped telling jokes</H4>
            </DemoSection>
        </Section>
    </Div>
</Div>

@code {
    private const string H1Code =
@"<H1>Taxing Laughter: The Joke Tax Chronicles</H1>";

    private const string H2Code =
@"<H2>The People of the Kingdom</H2>";

    private const string H3Code =
@"<H3>The Joke Tax</H3>";

    private const string H4Code =
@"<H4>People stopped telling jokes</H4>";
}
