@page "/progresses"
@using Microsoft.Extensions.Logging

@inject ILogger<Index> Logger

<PageTitle>Progress - Quark Suite</PageTitle>

<Div Space="Space.Y.Is8" MaxWidth="MaxWidth.Is4xl">
    <Div Space="Space.Y.Is6">
        <Section Space="Space.Y.Is4">
            <DemoSection Title="Basic Progress" Description="Progress bar with a value." Code="@(@"<Progress ProgressValue=""25""/>")">
                <Div Margin="Margin.Is3.FromEnd">
                    <Progress ProgressValue="25" Margin="Margin.Is3.FromBottom"/>
                </Div>
            </DemoSection>
        </Section>
        <Section Space="Space.Y.Is4">
            <DemoSection Title="Different Values" Description="Progress bars at various completion levels." Code="@(@"<Progress ProgressValue=""60""/>
<Progress ProgressValue=""90""/>")">
                <Div Margin="Margin.Is3.FromEnd" Space="Space.Y.Is3">
                    <Progress ProgressValue="60"/>
                    <Progress ProgressValue="90"/>
                </Div>
            </DemoSection>
        </Section>
    </Div>
</Div>

@code{

    protected override void OnInitialized()
    {
    }

}
