@page "/small"

<PageTitle>Small - Quark Suite</PageTitle>

<Div Space="Space.Y.Is8" MaxWidth="MaxWidth.Is4xl">
    <Section Space="Space.Y.Is4">
        <DemoSection Code="@SmallCode"
                     CodeLanguage="razor">
            <Small>Email address</Small>
        </DemoSection>
    </Section>
</Div>

@code {
    private const string SmallCode =
@"<Small>Email address</Small>";
}
