@page "/toasts"
@inject IToastUtil ToastUtil

<PageTitle>Toast - Quark Suite</PageTitle>

<Div Space="Space.Y.Is8" MaxWidth="MaxWidth.Is4xl">
    <Div Space="Space.Y.Is6">
        <Section Space="Space.Y.Is4">
            <DemoSection Description="A succinct message that is displayed temporarily."
                         Code="@BasicCode"
                         CodeLanguage="razor">
                <Toaster />
                <Button Variant="ButtonVariant.Outline" @onclick="ShowDemoToast">Add to calendar</Button>
            </DemoSection>
        </Section>
    </Div>
</Div>

@code {
    private const string BasicCode =
@"@inject IToastUtil Toasts

<Toaster />
<Button Variant=""ButtonVariant.Outline"" @onclick=""ShowDemoToast"">Add to calendar</Button>

@code {
    private async Task ShowDemoToast()
    {
        _ = await Toasts.Toast(""Scheduled: Catch up"", options =>
        {
            options.Description = ""Friday, February 10, 2023 at 5:57 PM"";
            options.ActionLabel = ""Undo"";
            options.ActionAltText = ""Undo"";
        });
    }
}";

    private async Task ShowDemoToast()
    {
        _ = await ToastUtil.Toast("Scheduled: Catch up", options =>
        {
            options.Description = "Friday, February 10, 2023 at 5:57 PM";
            options.ActionLabel = "Undo";
            options.ActionAltText = "Undo";
        });
    }
}
