@page "/unorderedlists"

<PageTitle>Unordered List - Quark Suite</PageTitle>

<Div Space="Space.Y.Is8" MaxWidth="MaxWidth.Is4xl">
    <Section Space="Space.Y.Is4">
        <DemoSection Code="@ListCode"
                     CodeLanguage="razor">
            <UnorderedList>
                <UnorderedListItem>1st level of puns: 5 gold coins</UnorderedListItem>
                <UnorderedListItem>2nd level of jokes: 10 gold coins</UnorderedListItem>
                <UnorderedListItem>3rd level of one-liners : 20 gold coins</UnorderedListItem>
            </UnorderedList>
        </DemoSection>
    </Section>
</Div>

@code {
    private const string ListCode =
@"<UnorderedList>
    <UnorderedListItem>1st level of puns: 5 gold coins</UnorderedListItem>
    <UnorderedListItem>2nd level of jokes: 10 gold coins</UnorderedListItem>
    <UnorderedListItem>3rd level of one-liners : 20 gold coins</UnorderedListItem>
</UnorderedList>";
}
