
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ISnackbarHeader

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    // shadcn toast title - new-york-v4 toast/sonner style
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-snackbar-header");
            AppendClass(ref cls, "flex items-center justify-between gap-2 p-4 border-b");
        });
    }
}

