@namespace Soenneker.Quark

@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Position ??= Quark.Position.Relative;
        Display ??= Quark.Display.Flex;
        ItemsAlign ??= Items.Center;
        Rounded ??= Quark.Rounded.Full;
        FontWeight ??= Quark.FontWeight.Semibold;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "step-marker";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "justify-center");
        });
    }
}
