@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<li @attributes="BuildAttributes()">
    @ChildContent
</li>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "sidebar-menu-item";
        attributes["data-sidebar"] = "menu-item";

        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) =>
        {
            AppendClass(ref cls, "q-sidebar-menu-item");
            AppendClass(ref cls, "group/menu-item relative");
        });
    }
}
