@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IAnchor

<a @attributes="BuildAttributes()">
    @ChildContent
</a>

@code {
    public override string? ThemeKey { get; set; } = "Anchor";

    [Parameter]
    public string? To { get; set; }

    [Parameter]
    public Target? Target { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        if (To.HasContent())
            attributes["href"] = To!;

        if (Target is not null)
            attributes["target"] = Target.Value;

        return attributes;
    }

}