@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IAnchor

<a @attributes="BuildAttributes()">
    @ChildContent
</a>

@code {
    // shadcn - new-york-v4

    /// <summary>
    /// Gets or sets the URL to navigate to.
    /// </summary>
    [Parameter]
    public string? To { get; set; }

    /// <summary>
    /// Gets or sets the target attribute for the link.
    /// </summary>
    [Parameter]
    public Target? Target { get; set; }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-anchor");
        });

        if (To.HasContent())
            attributes["href"] = To!;

        if (Target is not null)
            attributes["target"] = Target.Value;
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        hc.Add(To);
        hc.Add(Target);
    }
}