@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IAnchor

<a @attributes="BuildAttributes()">
    @ChildContent
</a>

@code {

    /// <summary>
    /// Gets or sets the URL to navigate to.
    /// </summary>
    [Parameter]
    public string? To { get; set; }

    /// <summary>
    /// Gets or sets the target attribute for the link.
    /// </summary>
    [Parameter]
    public Target? Target { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) =>
        {
            AppendClass(ref cls, "q-anchor");
        });

        if (To.HasContent())
            attributes["href"] = To!;

        if (Target is not null)
            attributes["target"] = Target.Value;

        return attributes;
    }

}