@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement

<span @attributes="BuildAttributes()">@ChildContent</span>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-muted");
            AppendClass(ref cls, "text-muted");
        });
    }
}

