@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IParagraph

<p @attributes="BuildTypographicAttributes()">@ChildContent</p>

@code {
    public override string? ThemeKey { get; set; } = "Paragraph";
}
