@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographicElement
@implements IText

<span @attributes="BuildAttributes()">@ChildContent</span>

@code {
    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        BuildClassAttribute(attributes, (ref cls) => AppendClass(ref cls, "q-text"));
        return attributes;
    }
}
