@page "/typography/badges"

<Container Padding="Padding.Is4.OnY">
    <Row>
        <Column>
            <Div TextAlignment="TextAlignment.Center" Margin="Margin.Is5.FromEnd">
                <H1 DisplaySize="DisplaySize.Is4" FontWeight="FontWeight.Bold" TextColor="TextColor.Primary">Badges</H1>
                <Paragraph Class="lead" TextColor="TextColor.Muted">This page demonstrates some of the common usages for the badges library.</Paragraph>
            </Div>
        </Column>
    </Row>

    <Row Gap="Gap.Is4">
        <Column>
            <Div>
                <H2>Basic Badges</H2>
                <Div Margin="Margin.Is3.FromEnd" Class="flex flex-wrap gap-2">
                    <Badge Variant="BadgeVariant.Default">Primary</Badge>
                    <Badge Variant="BadgeVariant.Secondary">Secondary</Badge>
                    <Badge Variant="BadgeVariant.Destructive">Destructive</Badge>
                    <Badge Variant="BadgeVariant.Outline">Outline</Badge>
                    <Badge Variant="BadgeVariant.Ghost">Ghost</Badge>
                    <Badge Variant="BadgeVariant.Link">Link</Badge>
                </Div>

                <CodeEditor ReadOnly="true" 
                            Language="@("html")" 
                            AutoHeight="true" Text="@(@"<Badge Variant=""BadgeVariant.Default"">Primary</Badge>
<Badge Variant=""BadgeVariant.Secondary"">Secondary</Badge>
<Badge Variant=""BadgeVariant.Destructive"">Destructive</Badge>
<Badge Variant=""BadgeVariant.Outline"">Outline</Badge>
<Badge Variant=""BadgeVariant.Ghost"">Ghost</Badge>
<Badge Variant=""BadgeVariant.Link"">Link</Badge>")" />
            </Div>

            <Hr/>

            <Div>
                <H2>Badges in Context</H2>
                <Div Margin="Margin.Is3.FromEnd" Class="space-y-2">
                    <H4>Notifications <Badge Variant="BadgeVariant.Destructive">4</Badge></H4>
                    <H5>Messages <Badge Variant="BadgeVariant.Secondary">12</Badge></H5>
                    <H6>Updates <Badge Variant="BadgeVariant.Default">New</Badge></H6>
                </Div>
                <Div Margin="Margin.Is3.FromEnd" Class="flex gap-2">
                    <Button Variant="ButtonVariant.Default">
                        Profile <Badge Variant="BadgeVariant.Secondary">9</Badge>
                    </Button>
                    <Button Variant="ButtonVariant.Secondary">
                        Inbox <Badge Variant="BadgeVariant.Default">3</Badge>
                    </Button>
                </Div>
            </Div>
        </Column>
    </Row>
</Container>

@code {

    protected override void OnInitialized()
    {
    }

}
