
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<Div @attributes="BuildAttributes()">
    @ChildContent
</Div>

@code {
	public override string? ThemeKey { get; set; } = "SnackbarFooter";

    protected override Dictionary<string, object> BuildAttributes()
    {
        Dictionary<string, object> attributes = base.BuildAttributes();
        
        const string baseClasses = "snackbar-footer";
        AppendToClassAttr(attributes, baseClasses);
        
        return attributes;
    }
}
