
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ISnackbarHeader

<Div @attributes="BuildAttributes()">
    @ChildContent
</Div>

@code {
	public override string? ThemeKey { get; set; } = "SnackbarHeader";

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        
        const string baseClasses = "toast-header";
        AppendToClassAttr(attributes, baseClasses);
        
        return attributes;
    }
}

