@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "thread-content";
        Display ??= Quark.Display.Flex;
        Width ??= Quark.Width.IsFull;
        FlexDirection ??= Quark.FlexDirection.Col;
        Gap ??= Quark.Gap.Is6;
        Padding ??= Quark.Padding.Is6;

    }
}