@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        Display ??= Quark.Display.Flex;
        Width ??= Quark.Width.IsFull;
        FlexDirection ??= Quark.FlexDirection.Col;
        Gap ??= Quark.Gap.Token("6");
        Padding ??= Quark.Padding.Is6;

    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-slot"] = "thread-content";

    }
}
