@namespace Soenneker.Quark
@inherits Element

<Div DataSlot="table-container" Position="Quark.Position.Relative" Width="Quark.Width.IsFull" OverflowX="Quark.Overflow.Auto">
    <table @attributes="BuildAttributes()">
        @ChildContent
    </table>
</Div>

@code {

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "table";
        Width ??= Quark.Width.IsFull;
        TextSize ??= Quark.TextSize.Sm;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);


        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "caption-bottom");
        });
    }

}