
@namespace Soenneker.Quark
@inherits Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    // shadcn table toolbar left - new-york-v4
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Display ??= Quark.Display.Flex;
        MinWidth ??= Quark.MinWidth.Is0;
        Flex ??= Quark.Flex.Is1;
        Gap ??= Quark.Gap.Is2;
        ItemsAlign ??= Quark.Items.Center;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
    }
}
