
@namespace Soenneker.Quark
@inherits Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    // shadcn table toolbar left - new-york-v4
    protected override void ApplyDefaultParameters()
    {
        Display ??= Quark.Display.Flex;
        MinWidth ??= Quark.MinWidth.Is0;
        Flex ??= Quark.Flex.Is1;
        Gap ??= Quark.Gap.Is2;
        ItemsAlign ??= Items.Center;

        base.ApplyDefaultParameters();
    }
}
