
@namespace Soenneker.Quark
@inherits Element

<div @attributes="BuildAttributes()" >
	@ChildContent
</div>

@code {
    // shadcn table toolbar right - new-york-v4
    protected override void ApplyDefaultParameters()
    {
        Display ??= Quark.Display.Flex;
        Margin ??= Quark.Margin.Auto.FromLeft;
        Gap ??= Quark.Gap.Is2;
        ItemsAlign ??= Items.Center;

        base.ApplyDefaultParameters();
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
    }
}
