@namespace Soenneker.Quark
@inherits Element

<Div data-slot="table-container"
     Position="Quark.Position.Relative"
     Width="Quark.Width.IsFull"
     OverflowX="Quark.Overflow.X.Auto">
    <table @attributes="BuildAttributes()">
        @ChildContent
    </table>
</Div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        Width ??= Quark.Width.IsFull;
        TextSize ??= Quark.TextSize.Sm;

    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "table";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "caption-bottom");
        });
    }

} 
