@namespace Soenneker.Quark
@inherits Element

<div @attributes="BuildContainerAttributes()">
    <table @attributes="BuildAttributes()">
        @ChildContent
    </table>
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Width ??= Quark.Width.IsFull;
        TextSize ??= Quark.TextSize.Sm;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        attributes["data-slot"] = "table";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-table");
            // shadcn Table - new-york-v4 ui/table.tsx
            AppendClass(ref cls, "caption-bottom");
        });
    }

    private Dictionary<string, object> BuildContainerAttributes()
    {
        var attributes = new Dictionary<string, object>
        {
            ["data-slot"] = "table-container"
        };

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-table-container relative w-full overflow-x-auto");
        });

        return attributes;
    }
} 
