@namespace Soenneker.Quark
@inherits Element

<div data-slot="table-container" class="relative w-full overflow-x-auto">
    <table @attributes="BuildAttributes()">
        @ChildContent
    </table>
</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        Width ??= Quark.Width.IsFull;
        TextSize ??= Quark.TextSize.Sm;

    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "table";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "caption-bottom");
        });
    }

} 
