@namespace Soenneker.Quark
@inherits Element

<td @attributes="BuildAttributes()">
    @ChildContent
</td>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "table-cell-primitive";
    }

    [Parameter]
    public int? Colspan { get; set; }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        if (Colspan is > 1)
            attributes["colspan"] = Colspan.Value;
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(Colspan);
    }
}