@using Microsoft.AspNetCore.Components.Web
@inherits Soenneker.Quark.Element

<button @attributes="BuildAttributes()" type="button" data-bs-toggle="dropdown" aria-expanded="false" @onclick="OnClickHandler">
    @ChildContent
</button>

@code {
    public override string? ThemeKey { get; set; } = "DropdownToggle";

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public bool IsSplit { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> Clicked { get; set; }

    private async Task OnClickHandler(MouseEventArgs e)
    {
        if (!Disabled && Clicked.HasDelegate)
        {
            await Clicked.InvokeAsync(e);
        }
    }

    protected override Dictionary<string, object> BuildAttributes()
    {
        Dictionary<string, object> attributes = base.BuildAttributes();

        var baseClasses = IsSplit ? "btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" : "btn btn-secondary dropdown-toggle";

        if (Disabled)
            baseClasses = $"{baseClasses} disabled";

        AppendToClassAttr(attributes, baseClasses);

        if (Disabled)
        {
            attributes["disabled"] = true;
        }

        return attributes;
    }
}
