
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IDropdownMenu

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    public override string? ThemeKey { get; set; } = "DropdownMenu";

    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public bool RightAligned { get; set; }

    [Parameter]
    public Direction Direction { get; set; } = Direction.Default;

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        AppendToClassAttr(attributes, "dropdown-menu");

        if (Visible)
            AppendToClassAttr(attributes, "show");

        if (RightAligned)
            AppendToClassAttr(attributes, "dropdown-menu-end");

        switch (Direction.Value)
        {
            case Direction.UpValue:
                AppendToClassAttr(attributes, "dropup");
                break;
            case Direction.EndValue:
                AppendToClassAttr(attributes, "dropend");
                break;
            case Direction.StartValue:
                AppendToClassAttr(attributes, "dropstart");
                break;
        }

        return attributes;
    }
}
