@namespace Soenneker.Quark

@inherits Soenneker.Quark.Element
@implements IProgress

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    /// <summary>
    /// Gets or sets the size of the progress bar.
    /// </summary>
    [Parameter]
    public CssValue<SizeBuilder>? Size { get; set; } = Quark.Size.Default;

    /// <summary>
    /// Gets or sets whether the progress bar should be striped.
    /// </summary>
    [Parameter]
    public bool Striped { get; set; }

    /// <summary>
    /// Gets or sets whether the progress bar should be animated.
    /// </summary>
    [Parameter]
    public bool Animated { get; set; }

    private string? GetSizeClass()
    {
        if (Size == Quark.Size.Default)
            return null;

        string? token = null;
        var isTheme = Size?.TryGetBootstrapThemeToken(out token) == true;
        if (isTheme && token is not null)
            return $"progress-{token}";

        return Size?.ToString() != null ? $"progress-{Size}" : null;
    }

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-progress");
            AppendClass(ref cls, "progress");
            
            var sizeClass = GetSizeClass();
            if (sizeClass != null)
                AppendClass(ref cls, sizeClass);
        });

        return attributes;
    }
}
