
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ISnackbarBody

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
	public override string? ThemeKey { get; set; } = "SnackbarBody";

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) => AppendClass(ref cls, "toast-body"));
        return attributes;
    }
}

