
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ISnackbarFooter

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
	public override string? ThemeKey { get; set; } = "SnackbarFooter";

    protected override Dictionary<string, object> BuildAttributes()
    {
        var attributes = base.BuildAttributes();
        BuildClassAttribute(attributes, (ref PooledStringBuilder cls) => AppendClass(ref cls, "snackbar-footer"));
        return attributes;
    }
}
