
@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements ISnackbarBody

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-snackbar-body");
            AppendClass(ref cls, "toast-body");
        });
    }
}

