@namespace Soenneker.Quark
@inherits Soenneker.Quark.SurfaceElement

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    // shadcn - new-york-v4
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-callout");
            AppendClass(ref cls, "callout");
        });
    }

}