@namespace Soenneker.Quark
@inherits Soenneker.Quark.SurfaceElement

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-panel");
            AppendClass(ref cls, "panel");
        });
    }
}