@namespace Soenneker.Quark
@inherits Soenneker.Quark.TypographyElement
@implements IAlertDialogTitle

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-alert-dialog-title");
            AppendClass(ref cls, "text-lg font-semibold sm:group-data-[size=default]/alert-dialog-content:group-has-data-[slot=alert-dialog-media]/alert-dialog-content:col-start-2");
        });
        attributes["data-slot"] = "alert-dialog-title";
    }
}
