@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();

        Display ??= Quark.Display.Flex;
        Height ??= Quark.Height.Auto;
        Width ??= Quark.Width.IsFull;
        ItemsAlign ??= Quark.Items.Center;
        Justify ??= Quark.Justify.Between;
        Padding ??= Quark.Padding.Is3.OnX.FromTop;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        SetDefaultDataSlot("citation-carousel-header");
    }
}
