@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "citation-carousel-pagination";

        Display ??= Quark.Display.Flex;
        ItemsAlign ??= Quark.Items.Center;
        Gap ??= Quark.Gap.Is1;
    }
}