@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    [CascadingParameter(Name = nameof(ParentStepperItem))]
    internal StepperItemContext? ParentStepperItem { get; set; }

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "stepper-description";
        TextColor ??= Quark.TextColor.MutedForeground;

        if (ParentStepperItem?.IsStacked == true)
        {
            TextSize ??= Quark.TextSize.Xs;
            FontWeight ??= Quark.FontWeight.Medium;
            Whitespace ??= Quark.Whitespace.Nowrap;
            Display ??= Quark.Display.None.OnMd.Block;
        }
        else
        {
            TextSize ??= Quark.TextSize.Sm;
        }
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-state"] = ParentStepperItem?.State ?? "inactive";
    }
}
