@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">@ChildContent</div>

@code {
    [CascadingParameter(Name = nameof(ParentStepper))]
    internal Stepper? ParentStepper { get; set; }

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "stepper-panel";
        Width ??= Quark.Width.IsFull;
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-state"] = ParentStepper?.ActiveStep ?? 1;

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "w-full");
        });
    }
}
