@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<nav @attributes="BuildAttributes()">@ChildContent</nav>

@code {
    [CascadingParameter(Name = nameof(ParentStepper))]
    internal Stepper? ParentStepper { get; set; }

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "stepper-nav";
        Display ??= Quark.Display.InlineFlex;

        if (ParentStepper?.Responsive == true)
        {
            Width ??= Quark.Width.IsFull;
            FlexDirection ??= Quark.FlexDirection.Col.OnMd.Row;
            ItemsAlign ??= Quark.Items.Start.OnMd.Center;
        }
        else if (ParentStepper?.ResolvedOrientation == "vertical")
        {
            FlexDirection ??= Quark.FlexDirection.Col;
        }
        else
        {
            Width ??= Quark.Width.IsFull;
            FlexDirection ??= Quark.FlexDirection.Row;
        }
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-state"] = ParentStepper?.ActiveValue ?? "1";
        attributes["data-orientation"] = ParentStepper?.ResolvedOrientation ?? "horizontal";
    }
}
