@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<h3 @attributes="BuildAttributes()">@ChildContent</h3>

@code {
    [CascadingParameter(Name = nameof(ParentStepperItem))]
    internal StepperItemContext? ParentStepperItem { get; set; }

    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "stepper-title";
        FontWeight ??= Quark.FontWeight.Medium;

        if (ParentStepperItem?.IsStacked == true)
        {
            TextSize ??= Quark.TextSize.Sm;
        }
        else
        {
            Leading ??= Quark.Leading.None;
            TextSize ??= Quark.TextSize.Sm;
        }
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);
        attributes["data-state"] = ParentStepperItem?.State ?? "inactive";
    }
}
