@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "drawer-footer";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-drawer-footer");
            AppendClass(ref cls, "mt-auto flex flex-col gap-2 p-4");
        });
    }
}
