@using Soenneker.Blazor.Extensions.EventCallback

@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<Button Variant="ButtonVariant.Ghost" Size="ButtonSize.Icon" @onclick="Close" @attributes="BuildAttributes()">
    @ChildContent
</Button>

@code {
    [CascadingParameter(Name = "ParentDrawer")]
    private Drawer? ParentDrawer { get; set; }

    private async Task Close(MouseEventArgs _)
    {
        await (ParentDrawer?.Hide() ?? Task.CompletedTask);
    }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "drawer-close";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-drawer-close");
        });
    }
}
