@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    @ChildContent
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "drawer-header";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "q-drawer-header");
            AppendClass(ref cls, "flex flex-col gap-0.5 p-4 text-center md:gap-1.5 md:text-left");
        });
    }
}
