@using Soenneker.Bradix

@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
    <BradixMenubarSub>
        @ChildContent
    </BradixMenubarSub>
</div>

@code {
    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        attributes["data-slot"] = "menubar-sub";

        BuildClassAttribute(attributes, (ref cls) =>
        {
            AppendClass(ref cls, "relative");
        });
    }
}
